workflows/email-automation/Email To Interested.json
{
  "name": "Email To Interested",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"triggerAtHour": 9},
            {"triggerAtHour": 12},
            {"triggerAtHour": 15},
            {"triggerAtHour": 18}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-704, 144],
      "id": "b593c872-024d-44ae-aaa4-a4e3dcd33a55",
      "name": "Run at 9, 12, 15, 18"
    },
    {
      "parameters": {
        "documentId": {"__rl": true,"value": "1cu6cH_-BqvKnvYvSYbFcQkq7BKOe4ttOCHoO0CWuFDc","mode": "id"},
        "sheetName": {"__rl": true,"value": 61642018,"mode": "list","cachedResultName": "Automation","cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cu6cH_-BqvKnvYvSYbFcQkq7BKOe4ttOCHoO0CWuFDc/edit#gid=61642018"},
        "filtersUI": {"values": [{"lookupColumn": "status","lookupValue": "Scheduled"}]},
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-464, 144],
      "id": "3a30361f-8a58-4438-bec2-64258dd6ea39",
      "name": "Fetch Scheduled Emails",
      "retryOnFail": true,
      "credentials": {"googleSheetsOAuth2Api": {"id": "rKfNzy77xzsMahH6","name": "Template_control"}}
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const scheduled_at = new Date(item.json.scheduled_at);\n  return scheduled_at <= new Date();\n})\n.slice(0, 125);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-256, 144],
      "id": "0ebadfad-a2fa-4c3e-816b-7a50c625c6d9",
      "name": "Filter Due Emails (time passed)"
    },
    {
      "parameters": {
        "documentId": {"__rl": true,"value": "1xFj2iKhr69spqHxUqp2kVhBirzaaJYeVtMCEFqE_ZQg","mode": "id"},
        "sheetName": {"__rl": true,"value": "gid=0","mode": "list","cachedResultName": "Sheet1","cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rO6V63_uxtCNSH-bYGDNca6-rYiUhLXq9PhkfdflzcU/edit#gid=0"},
        "filtersUI": {"values": [{"lookupColumn": "type","lookupValue": "={{ $json.type }}"}]},
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [0, 0],
      "id": "1b8cacc6-094c-4e7c-b2ff-097dc6ce9702",
      "name": "Fetch Template by Type",
      "retryOnFail": true,
      "credentials": {"googleSheetsOAuth2Api": {"id": "rKfNzy77xzsMahH6","name": "Template_control"}}
    },
    {
      "parameters": {"mode": "combine","combineBy": "combineByPosition","options": {}},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [272, 128],
      "id": "0f471ce9-39fd-4d59-b405-6cbcd2542448",
      "name": "Combine Contact + Template"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n  let body = String(row.body)\n    .replace(/\\{\\{\\s*Name\\s*\\}\\}/gi, row.name || \"\")\n    .replace(/\\$\\{url\\}/gi, row.url || \"\")\n    .replace(/\\$\\{name.*?\\}/gi, row.img_name || \"Marble Example\")\n    .replace(/\\r\\n/g, \"\\n\")\n    .replace(/\\n/g, \"\\n\");\n  return {\n    json: {\n      rowNumber: row.row_number,\n      email: row.email,\n      subject: row.subject,\n      body: body,\n      name: row.name,\n      type: row.type,\n      status: row.status,\n      scheduled_at: row.scheduled_at,\n      preparedAt: new Date().toISOString()\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 128],
      "id": "b476e8e1-0af2-40f9-871c-51461c3bd147",
      "name": "Prepare Email Payload"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {"appendAttribution": false}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [704, 0],
      "id": "58ed8a9c-243d-43b0-b17b-8698aacf34ba",
      "name": "Send Email",
      "webhookId": "6d656db9-d82f-4a8b-bb0b-0c88620f3b9e",
      "retryOnFail": true,
      "credentials": {"gmailOAuth2": {"id": "Uf7TgPsxu74qDj1A","name": "support007"}}
    },
    {
      "parameters": {"mode": "combine","combineBy": "combineByPosition","options": {}},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [912, 112],
      "id": "f5b0151f-a026-4fff-8a7c-a1e9fb161ef3",
      "name": "Combine Sent Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},
          "conditions": [{"id": "43c87720-661b-4cef-829d-69eb7a3c8179","leftValue": "={{ $json.labelIds }}","rightValue": "SENT","operator": {"type": "array","operation": "contains","rightType": "any"}}],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1120, 112],
      "id": "3c3607f8-1f5b-4b99-b4dc-76dd00c3d323",
      "name": "Check If Email Sent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {"__rl": true,"value": "1cu6cH_-BqvKnvYvSYbFcQkq7BKOe4ttOCHoO0CWuFDc","mode": "id"},
        "sheetName": {"__rl": true,"value": 61642018,"mode": "list","cachedResultName": "Automation","cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cu6cH_-BqvKnvYvSYbFcQkq7BKOe4ttOCHoO0CWuFDc/edit#gid=61642018"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {"email": "={{ $json.email }}","status": "SENT"},
          "matchingColumns": ["email"],
          "schema": [
            {"id": "email","displayName": "email","required": false,"defaultMatch": false,"display": true,"type": "string","canBeUsedToMatch": true,"removed": false},
            {"id": "status","displayName": "status","required": false,"defaultMatch": false,"display": true,"type": "string","canBeUsedToMatch": true}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1408, 96],
      "id": "106e9df9-18d7-448a-9a15-f1b9f9a15afe",
      "name": "Update Sheet Status to SENT",
      "retryOnFail": true,
      "credentials": {"googleSheetsOAuth2Api": {"id": "rKfNzy77xzsMahH6","name": "Template_control"}}
    }
  ],
  "pinData": {},
  "connections": {
    "Run at 9, 12, 15, 18": {"main": [[{"node": "Fetch Scheduled Emails","type": "main","index": 0}]]},
    "Fetch Scheduled Emails": {"main": [[{"node": "Filter Due Emails (time passed)","type": "main","index": 0}]]},
    "Filter Due Emails (time passed)": {"main": [[{"node": "Fetch Template by Type","type": "main","index": 0},{"node": "Combine Contact + Template","type": "main","index": 1}]]},
    "Fetch Template by Type": {"main": [[{"node": "Combine Contact + Template","type": "main","index": 0}]]},
    "Combine Contact + Template": {"main": [[{"node": "Prepare Email Payload","type": "main","index": 0}]]},
    "Prepare Email Payload": {"main": [[{"node": "Send Email","type": "main","index": 0},{"node": "Combine Sent Result","type": "main","index": 1}]]},
    "Send Email": {"main": [[{"node": "Combine Sent Result","type": "main","index": 0}]]},
    "Combine Sent Result": {"main": [[{"node": "Check If Email Sent","type": "main","index": 0}]]},
    "Check If Email Sent": {"main": [[{"node": "Update Sheet Status to SENT","type": "main","index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nETo8yQdCbRv52pK"
  },
  "versionId": "43f4c78d-984e-43b7-81cf-805ce4e2c4af",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40fd0e0584e84b721baf5ba64df17877ecda841680e3a8ad833622b608040b14"
  },
  "nodeGroups": [],
  "id": "gLxN11vE7vAjxwIb",
  "tags": []
}
