workflows/email-automation/Email Sending Automation.json
{
  "name": "Outbound Email Campaign Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {"field": "cronExpression","expression": "0 9,12,15,18 * * 2-5"}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1200, 400],
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Cron Tue-Fri 9,12,15,18"
    },
    {
      "parameters": {
        "documentId": {"__rl": true,"value": "1S69M8TCZotX7AtdlS1kdF5pXederZUW7xmJ4nc8rkEY","mode": "id"},
        "sheetName": {"__rl": true,"value": "gid=0","mode": "list","cachedResultName": "Sheet1","cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S69M8TCZotX7AtdlS1kdF5pXederZUW7xmJ4nc8rkEY/edit#gid=0"},
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-960, 400],
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Load Master Contact List",
      "retryOnFail": true,
      "credentials": {"googleSheetsOAuth2Api": {"id": "rKfNzy77xzsMahH6","name": "Template_control"}}
    },
    {
      "parameters": {
        "jsCode": "// Filter contacts eligible for outbound:\n// 1. Not already sent this month\n// 2. Status is not UNSUBSCRIBED or NOT_INTERESTED\n// 3. Has valid email\n\nconst now = new Date();\nconst currentMonth = now.getMonth();\nconst currentYear = now.getFullYear();\n\nfunction isSentThisMonth(last_sent_date) {\n  if (!last_sent_date) return false;\n  const d = new Date(last_sent_date);\n  return d.getMonth() === currentMonth && d.getFullYear() === currentYear;\n}\n\nconst DISQUALIFY = /unsubscribed|not_interested|bounced|invalid/i;\n\nconst eligible = items\n  .filter(item => {\n    const row = item.json;\n    if (!row.email || !row.email.includes('@')) return false;\n    if (DISQUALIFY.test(row.status || '')) return false;\n    if (isSentThisMonth(row.last_sent_date)) return false;\n    return true;\n  })\n  .slice(0, 125);\n\n// Assign workspace and template round-robin\nconst WORKSPACES = ['W1','W2','W3','W4','W5','W6','W7','W8','W9','W10'];\nconst TEMPLATES  = ['T01','T02','T03','T04','T05','T06','T07','T08','T09','T10'];\n\nreturn eligible.map((item, idx) => ({\n  json: {\n    ...item.json,\n    workspace: WORKSPACES[idx % WORKSPACES.length],\n    template:  TEMPLATES[idx % TEMPLATES.length]\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-720, 400],
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Filter & Assign Workspace/Template"
    },
    {
      "parameters": {
        "documentId": {"__rl": true,"value": "1xFj2iKhr69spqHxUqp2kVhBirzaaJYeVtMCEFqE_ZQg","mode": "id"},
        "sheetName": {"__rl": true,"value": "gid=0","mode": "list","cachedResultName": "Sheet1"},
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [-960, 600],
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Load Email Templates",
      "retryOnFail": true,
      "credentials": {"googleSheetsOAuth2Api": {"id": "rKfNzy77xzsMahH6","name": "Template_control"}}
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByFields",
        "fieldsToMatchString": "template",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [-480, 400],
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Match Contact to Template"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const row = item.json;\n  let body = (row.body || '').replace(/\\{\\{\\s*name\\s*\\}\\}/gi, row.name || 'there');\n  return {\n    json: {\n      ...row,\n      email_body: body,\n      email_subject: row.subject || 'Hello from Marblebee'\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-240, 400],
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Prepare Personalized Email"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W1","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W2","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W3","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W4","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W5","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W6","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W7","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W8","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W9","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}},
            {"conditions": {"options": {"caseSensitive": true,"leftValue": "","typeValidation": "strict","version": 2},"conditions": [{"leftValue": "={{ $json.workspace }}","rightValue": "W10","operator": {"type": "string","operation": "equals"}}],"combinator": "and"}}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [0, 400],
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Route to Workspace"
    },
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, -400],"id": "a1b2c3d4-0008-0008-0008-000000000008","name": "Send via W1 (Support007)","webhookId": "out-w1-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "Uf7TgPsxu74qDj1A","name": "support007"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, -208],"id": "a1b2c3d4-0009-0009-0009-000000000009","name": "Send via W2 (Support012)","webhookId": "out-w2-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "98ygOHP2Wr0m58NC","name": "Support012"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, -16],"id": "a1b2c3d4-0010-0010-0010-000000000010","name": "Send via W3 (Terry CC)","webhookId": "out-w3-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "tctQgk0QivsN8TSx","name": "terry_marblebee_cc"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 176],"id": "a1b2c3d4-0011-0011-0011-000000000011","name": "Send via W4 (Jack Mama)","webhookId": "out-w4-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "ilmsvYfW0qq6qVae","name": "jackmamamarble"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 368],"id": "a1b2c3d4-0012-0012-0012-000000000012","name": "Send via W5 (Luna Mama)","webhookId": "out-w5-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "8mWXIiuvW16Wm9qz","name": "LunaMamamarble"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 560],"id": "a1b2c3d4-0013-0013-0013-000000000013","name": "Send via W6 (Jack NewHome)","webhookId": "out-w6-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "ZLrcUVdjfpzxCW10","name": "Jack_Newhomestone"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 752],"id": "a1b2c3d4-0014-0014-0014-000000000014","name": "Send via W7 (Terry Live)","webhookId": "out-w7-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "w8NLQoblB5vWujaQ","name": "Terry_Marblebee_Live"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 944],"id": "a1b2c3d4-0015-0015-0015-000000000015","name": "Send via W8 (Terry CFD)","webhookId": "out-w8-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "A0WAZ2HE5shhndiy","name": "Terry_Marblebee_cfd"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 1136],"id": "a1b2c3d4-0016-0016-0016-000000000016","name": "Send via W9 (Terry Site)","webhookId": "out-w9-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "sEfHEMcxINrWYHAx","name": "terry_Marblebee_Site"}}},
    {"parameters": {"sendTo": "={{ $json.email }}","subject": "={{ $json.email_subject }}","message": "={{ $json.email_body }}","options": {"appendAttribution": false}},"type": "n8n-nodes-base.gmail","typeVersion": 2.1,"position": [240, 1328],"id": "a1b2c3d4-0017-0017-0017-000000000017","name": "Send via W10 (Emily NewHome)","webhookId": "out-w10-webhook","retryOnFail": true,"credentials": {"gmailOAuth2": {"id": "8ZB5D0yYrYpY9ZE4","name": "emily_Newhomestone"}}},
    {
      "parameters": {"numberInputs": 10},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [528, 400],
      "id": "a1b2c3d4-0018-0018-0018-000000000018",
      "name": "Merge All Sent Results"
    },
    {
      "parameters": {
        "jsCode": "// Build sheet update rows: mark each contact as SENT with timestamp and thread_id\nconst now = new Date().toISOString();\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    status: 'SENT',\n    last_sent_date: now,\n    thread_id: item.json.threadId || item.json.thread_id || ''\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768, 400],
      "id": "a1b2c3d4-0019-0019-0019-000000000019",
      "name": "Build Sheet Update Payload"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {"__rl": true,"value": "1S69M8TCZotX7AtdlS1kdF5pXederZUW7xmJ4nc8rkEY","mode": "id"},
        "sheetName": {"__rl": true,"value": "gid=0","mode": "list","cachedResultName": "Sheet1","cachedResultUrl": "https://docs.google.com/spreadsheets/d/1S69M8TCZotX7AtdlS1kdF5pXederZUW7xmJ4nc8rkEY/edit#gid=0"},
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "status": "={{ $json.status }}",
            "last_sent_date": "={{ $json.last_sent_date }}",
            "thread_id": "={{ $json.thread_id }}",
            "workspace_used": "={{ $json.workspace }}"
          },
          "matchingColumns": ["email"],
          "schema": [
            {"id": "email","displayName": "email","required": false,"defaultMatch": true,"display": true,"type": "string","canBeUsedToMatch": true},
            {"id": "status","displayName": "status","required": false,"defaultMatch": false,"display": true,"type": "string","canBeUsedToMatch": false},
            {"id": "last_sent_date","displayName": "last_sent_date","required": false,"defaultMatch": false,"display": true,"type": "string","canBeUsedToMatch": false},
            {"id": "thread_id","displayName": "thread_id","required": false,"defaultMatch": false,"display": true,"type": "string","canBeUsedToMatch": false},
            {"id": "workspace_used","displayName": "workspace_used","required": false,"defaultMatch": false,"display": true,"type": "string","canBeUsedToMatch": false}
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [1008, 400],
      "id": "a1b2c3d4-0020-0020-0020-000000000020",
      "name": "Write SENT Status to Sheet",
      "retryOnFail": true,
      "credentials": {"googleSheetsOAuth2Api": {"id": "rKfNzy77xzsMahH6","name": "Template_control"}}
    }
  ],
  "pinData": {},
  "connections": {
    "Cron Tue-Fri 9,12,15,18": {"main": [[{"node": "Load Master Contact List","type": "main","index": 0},{"node": "Load Email Templates","type": "main","index": 0}]]},
    "Load Master Contact List": {"main": [[{"node": "Filter & Assign Workspace/Template","type": "main","index": 0}]]},
    "Filter & Assign Workspace/Template": {"main": [[{"node": "Match Contact to Template","type": "main","index": 0}]]},
    "Load Email Templates": {"main": [[{"node": "Match Contact to Template","type": "main","index": 1}]]},
    "Match Contact to Template": {"main": [[{"node": "Prepare Personalized Email","type": "main","index": 0}]]},
    "Prepare Personalized Email": {"main": [[{"node": "Route to Workspace","type": "main","index": 0}]]},
    "Route to Workspace": {"main": [
      [{"node": "Send via W1 (Support007)","type": "main","index": 0}],
      [{"node": "Send via W2 (Support012)","type": "main","index": 0}],
      [{"node": "Send via W3 (Terry CC)","type": "main","index": 0}],
      [{"node": "Send via W4 (Jack Mama)","type": "main","index": 0}],
      [{"node": "Send via W5 (Luna Mama)","type": "main","index": 0}],
      [{"node": "Send via W6 (Jack NewHome)","type": "main","index": 0}],
      [{"node": "Send via W7 (Terry Live)","type": "main","index": 0}],
      [{"node": "Send via W8 (Terry CFD)","type": "main","index": 0}],
      [{"node": "Send via W9 (Terry Site)","type": "main","index": 0}],
      [{"node": "Send via W10 (Emily NewHome)","type": "main","index": 0}]
    ]},
    "Send via W1 (Support007)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 0}]]},
    "Send via W2 (Support012)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 1}]]},
    "Send via W3 (Terry CC)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 2}]]},
    "Send via W4 (Jack Mama)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 3}]]},
    "Send via W5 (Luna Mama)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 4}]]},
    "Send via W6 (Jack NewHome)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 5}]]},
    "Send via W7 (Terry Live)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 6}]]},
    "Send via W8 (Terry CFD)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 7}]]},
    "Send via W9 (Terry Site)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 8}]]},
    "Send via W10 (Emily NewHome)": {"main": [[{"node": "Merge All Sent Results","type": "main","index": 9}]]},
    "Merge All Sent Results": {"main": [[{"node": "Build Sheet Update Payload","type": "main","index": 0}]]},
    "Build Sheet Update Payload": {"main": [[{"node": "Write SENT Status to Sheet","type": "main","index": 0}]]}
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "nETo8yQdCbRv52pK"
  },
  "versionId": "9322a74c-0000-0000-0000-000000000000",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40fd0e0584e84b721baf5ba64df17877ecda841680e3a8ad833622b608040b14"
  },
  "nodeGroups": [],
  "id": "e88iYPWkqUMpq9lg",
  "tags": []
}
