workflows/product-management/AI Product Title & Description Generator.json
{
  "name": "AI Product Title & Description Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1072,
        2912
      ],
      "id": "d13a8dd9-4f19-42c8-a950-bdef0961bf88",
      "name": "⏰ Daily Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const GOOGLE_SHEETS = [\n  // 'Test data',  // Uncomment for testing\n  'Animal', 'Bench', 'Planter', 'Fountain', 'Lamppost', 'Bathtub', 'Sink', 'Vanity', 'Fireplace', 'Table', 'Statue', 'MarbleSlab',\n  '2026Instock', 'DoorSurround', 'Wall-Coverings', 'Exterior-Wall-Decoration', 'MarbleRangeHood', 'Moulding', 'StoneMosaicTile', 'MarbleMedallion'\n];\n\nreturn GOOGLE_SHEETS\n  .filter(Boolean)  // Remove any empty/null values\n  .map(sheet_name => ({ json: { sheet_name } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        2912
      ],
      "id": "435489da-d0ea-4f9f-a537-af8615c67a39",
      "name": "📋 Load Target Sheet Names"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        2912
      ],
      "id": "4a60d8cb-2f15-4ffb-b02a-cd1b0de059a5",
      "name": "🔁 Iterate Sheets"
    },
    {
      "parameters": {
        "jsCode": "const sheetName = $('🔁 Iterate Sheets').item.json.sheet_name ?? '';\n\nconst normalizeDimensions = (data) => ({\n  length:    data['Length Inch']    ?? '',\n  width:     data['Width Inch']     ?? '',\n  height:    data['Height Inch']    ?? '',\n  depth:     data['Depth Inch']     ?? '',\n  thickness: data['Thickness Inch'] ?? '',\n});\n\nreturn items\n  .map(({ json }) => {\n    const imageUrl = (json['IMAGE URL3'] ?? '').toString().trim();\n    if (\n      !json ||\n      json.Generate_Title_Description !== 'yes' ||\n      (json.Title_Shopify && json.Description_Shopify) ||\n      !imageUrl.startsWith('http')\n    ) return null;\n\n    return {\n      json: {\n        row_number: json.row_number ?? 0,\n        sheet_name: sheetName,\n        keyword:    json['Keywords (Luna)'] ?? '',\n        material:   json.Material ?? '',\n        finish:     json.Finish   ?? '',\n        dimensions: normalizeDimensions(json),\n        Image_Url:  json['IMAGE URL3'],\n        promptRules: json.Prompt_Rules ?? '',\n      },\n    };\n  })\n  .filter(Boolean);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        3152
      ],
      "id": "d7031f18-7f44-4af1-80ae-6e7556d34a50",
      "name": "🧹 Prepare & Filter Product Data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "618b8903-999a-41ba-a5f5-d58f15e25268",
              "leftValue": "={{ $json.Image_Url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1808,
        2896
      ],
      "id": "1d34b23a-e957-4ea3-b4ef-172d4d3456e3",
      "name": "🧹 Filter Rows for Image AI"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2144,
        2880
      ],
      "id": "0fc69e4b-470c-4252-bf90-d0071a2cbca6",
      "name": "🔁 Iterate Products for AI Analysis"
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2640,
        3152
      ],
      "id": "f8c92a3f-4d90-4641-a0cc-44f10f183961",
      "name": "⏸️ Throttle Sheet Processing (200ms)",
      "webhookId": "fd9ab9a4-171f-443a-b98e-b0f99561bfb7"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "={{ $json.prompt }}",
        "imageUrls": "={{ $json.Image_Url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        2416,
        2896
      ],
      "id": "08c47aba-1c5c-4312-b1cf-9d90a2f8b7a7",
      "name": "🖼️ Analyze Product Image with AI (Gemini)",
      "credentials": {
        "googlePalmApi": {
          "id": "YLL6T5HbTFpyXNbx",
          "name": "Google Gemini"
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONTEXT\n// ============================================\nconst { sheet_name, row_number } =\n  $('🔁 Iterate Products for AI Analysis').item.json;\n\n// ============================================\n// UTILITIES\n// ============================================\n\nconst cleanText = (text = '') =>\n  String(text)\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n// ============================================\n// MAIN\n// ============================================\n\nconst outputItems = items\n  .map(({ json }) => {\n\n    // ----------------------------------------\n    // RAW AI OUTPUT\n    // ----------------------------------------\n    const raw =\n      json?.content?.parts?.[0]?.text?.trim();\n\n    if (!raw) return null;\n\n    let parsed;\n\n    try {\n\n      // ----------------------------------------\n      // SAFETY CLEANING\n      // Handles accidental ```json fences\n      // ----------------------------------------\n      const cleaned = raw\n        .replace(/```json/g, '')\n        .replace(/```/g, '')\n        .trim();\n\n      parsed = JSON.parse(cleaned);\n\n    } catch (err) {\n\n      // ----------------------------------------\n      // RETURN DEBUG INFO IF PARSING FAILS\n      // ----------------------------------------\n      return {\n        json: {\n          sheet_name,\n          row_number,\n          parsing_error: true,\n          parsing_error_message: err.message,\n          raw_output: raw\n        }\n      };\n    }\n\n    // ========================================\n    // SUCCESS OUTPUT\n    // ========================================\n    return {\n      json: {\n\n        sheet_name,\n        row_number,\n\n        // ------------------------------------\n        // SHOPIFY\n        // ------------------------------------\n        Title_Shopify: cleanText(\n          parsed?.version1?.title\n        ),\n\n        Description_Shopify: cleanText(\n          parsed?.version1?.description\n        ),\n\n        // ------------------------------------\n        // ETSY\n        // ------------------------------------\n        Title_Etsy: cleanText(\n          parsed?.version2?.title\n        ),\n\n        Description_Etsy: cleanText(\n          parsed?.version2?.description\n        ),\n\n        // ------------------------------------\n        // SEO\n        // ------------------------------------\n        Shopify_SEO_Title: cleanText(\n          parsed?.seo?.title\n        ),\n\n        Shopify_SEO_Description: cleanText(\n          parsed?.seo?.meta_description\n        ),\n\n        // ------------------------------------\n        // STATUS\n        // ------------------------------------\n        Generate_Title_Description: 'no'\n      }\n    };\n\n  })\n  .filter(Boolean);\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2704,
        2896
      ],
      "id": "c0b6ffb0-c540-4ed0-85cc-1e751d71901c",
      "name": "🧾 Parse AI Titles & Descriptions"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI",
          "mode": "list",
          "cachedResultName": "Auto sync shopify 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Product No.",
              "displayName": "Product No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Raw-Location",
              "displayName": "Raw-Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Picture",
              "displayName": "Picture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL1",
              "displayName": "IMAGE URL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL2",
              "displayName": "IMAGE URL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL3",
              "displayName": "IMAGE URL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL4",
              "displayName": "IMAGE URL4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL5",
              "displayName": "IMAGE URL5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL6",
              "displayName": "IMAGE URL6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL7",
              "displayName": "IMAGE URL7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL8",
              "displayName": "IMAGE URL8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL9",
              "displayName": "IMAGE URL9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL10",
              "displayName": "IMAGE URL10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Material Catalog URL",
              "displayName": "Material Catalog URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Care Guide URL",
              "displayName": "Care Guide URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CAD Drawing URL",
              "displayName": "CAD Drawing URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Material",
              "displayName": "Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Length CM",
              "displayName": "Length CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Width CM",
              "displayName": "Width CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thickness CM",
              "displayName": "Thickness CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Length Inch",
              "displayName": "Length Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Width Inch",
              "displayName": "Width Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Thickness Inch",
              "displayName": "Thickness Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weight KG",
              "displayName": "Weight KG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price IN USD $ (Jack)",
              "displayName": "Price IN USD $ (Jack)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price In CAD",
              "displayName": "Price In CAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords (Luna)",
              "displayName": "Keywords (Luna)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generate_Title_Description",
              "displayName": "Generate_Title_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt_Rules",
              "displayName": "Prompt_Rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title_Shopify",
              "displayName": "Title_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description_Shopify",
              "displayName": "Description_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shopify_SEO_Page_Title",
              "displayName": "Shopify_SEO_Page_Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shopify_SEO_Page_Description",
              "displayName": "Shopify_SEO_Page_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags_Shopify",
              "displayName": "Tags_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product_Type",
              "displayName": "Product_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jack QC",
              "displayName": "Jack QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Luna QC",
              "displayName": "Luna QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website QC()",
              "displayName": "Website QC()",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Collection_ID1",
              "displayName": "Collection_ID1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Collection_ID2",
              "displayName": "Collection_ID2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Collection_ID3",
              "displayName": "Collection_ID3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Drain_Diameter",
              "displayName": "Drain_Diameter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signature",
              "displayName": "Signature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title_Etsy",
              "displayName": "Title_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description_Etsy",
              "displayName": "Description_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etsy",
              "displayName": "Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags_Etsy",
              "displayName": "Tags_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ready_to_post",
              "displayName": "Ready_to_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fields_to_update",
              "displayName": "Fields_to_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shopify_Product_URL",
              "displayName": "Shopify_Product_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shopify_Update_product_URL",
              "displayName": "Shopify_Update_product_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_time",
              "displayName": "last_update_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "handlingExtraData": "ignoreIt"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3008,
        2896
      ],
      "id": "f62e54ce-9582-4341-b24c-6cabfc29a95c",
      "name": "💾 Write AI Content Back to Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rKfNzy77xzsMahH6",
          "name": "Template_control"
        }
      }
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3296,
        2896
      ],
      "id": "10ee6576-c29a-4547-8932-d6c91705c224",
      "name": "⏸️ Throttle Sheet Updates",
      "webhookId": "fd9ab9a4-171f-443a-b98e-b0f99561bfb7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI",
          "mode": "list",
          "cachedResultName": "Auto sync shopify 2026",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        3152
      ],
      "id": "48127139-80df-4229-92f7-b0c17938c531",
      "name": "📖 Read Product Rows from Sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rKfNzy77xzsMahH6",
          "name": "Template_control"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PROMPT REGISTRY\n// To add a new category: define buildXxxPrompt() below,\n// then add one line to PROMPT_REGISTRY. No workflow changes needed.\n// ============================================================\n\nconst EMPTY_DIM = { length: '', width: '', height: '', depth: '', thickness: '' };\n\n// ── Wall Coverings ────────────────────────────────────────────\nconst buildWallCoveringPrompt = ({ keyword, material, finish }) => {\n  const kw  = keyword  ? `\\nSupplied keyword: ${keyword}`  : '';\n  const mat = material ? `\\nMaterial: ${material}`         : '';\n  const fin = finish   ? `\\nFinish: ${finish}`             : '';\n\n  return `\n# Analyze Natural Stone Wall Covering & Generate Shopify SEO Content\n\nAnalyze the image and identify the type, surface, and architectural style of the natural stone wall covering.\n\n# ROLE\n\nYou are a Shopify SEO copywriter specializing in luxury natural stone wall coverings, architectural stone panels, and decorative marble surfaces.\nYour writing should reflect the vocabulary used by architects, interior designers, landscape designers, and stone manufacturers.\n\n# Product Categories\n\nThe wall covering belongs to ONE of the following categories:\n\n1. Marble Decorative Breeze Blocks (Carved openwork stone blocks.)\n\n2. Architectural Surface Systems\n   - Linear & Fluted Collections\n   - Geometric & Faceted Collections\n   - Sculptural & Parametric Panels\n\n3. Natural Stone Surface Finishes (flat panels with surface treatments)\n   - Polished, Honed, Leathered, Brushed, Axe-cut, Antique, Acid-Washed,\n     Bush-hammered, Sandblasted, Flamed, Split Face, Chiseled\n\n4. Mosaic / Pattern Wall Panels\n   KEY INDICATOR: The surface is made of MULTIPLE SEPARATE small tiles or pieces\n   assembled/joined together. Look for individual tiles, grout lines, or visible\n   joints between pieces.\n   Includes: stone mosaics, herringbone tile layouts, chevron patterns, basketweave,\n   hexagonal tiles, penny tiles, arabesque, fish scale, brick-bond stone tiles,\n   stacked tile arrangements, mixed-material mosaic panels, pebble mosaics.\n   IMPORTANT: Even if the mosaic tiles form a linear or geometric pattern, always\n   identify as Mosaic — not Architectural Surface Systems — if the surface is built\n   from individual assembled pieces. The key distinction is:\n   - Architectural Surface Systems = one continuous stone with carved/shaped texture\n   - Mosaic / Pattern Wall Panels = many separate pieces assembled together\n\n# Step 1 - Identify the Wall\n\nDetermine: Product Category, Surface Type, Surface Finish, Architectural Style, Material.\n\n# Step 2 - Professional Architectural Terminology\n\nIdentify the accepted architectural, interior design, or stone industry term.\nExamples: Fluted, Reeded, Cannelured, Ribbed, Grooved, Corrugated, Faceted, Tessellated,\nParametric, Bas-relief, High-relief, Scalloped, Chamfered, Split-face, Bush-hammered,\nLeathered, Sandblasted, Honed, Flamed, Chiseled.\nNever invent professional terminology.\n\n# Step 3 - Write 2 SEO Titles\n\nFormat: [Primary Keyword] + [Feature Description]\nRules: max 10 words, no duplicate words, use professional architectural terms.\n${kw}${mat}${fin}\n\n# Step 4 - Write 2 Product Descriptions (80-100 words each)\n\nRequirements:\n- Include the generated title naturally\n- Repeat the primary keyword once naturally\n- Mention the material whenever recognizable (marble, limestone, travertine, granite, sandstone, etc.)\n- Describe surface texture, visual appearance, craftsmanship, color, depth, relief, tactile quality\n- Explain how the surface interacts with light and shadow throughout the day\n- Describe how the texture contributes to: visual rhythm, depth, movement, spatial perception, warmth, timeless elegance\n- Elegant, luxurious, architectural tone for a premium Shopify product page\n\nAlso generate:\n- SEO title: 50-60 characters, front-load keyword\n- Meta description: 140-160 characters, luxury ecommerce tone\n\n# STRICT OUTPUT RULES\n\n- No markdown, no explanations, no reasoning, no code fences\n- Output ONLY valid JSON\n\n# FINAL OUTPUT FORMAT (STRICT JSON ONLY)\n\n{\n  \"version1\": { \"title\": \"\", \"description\": \"\" },\n  \"version2\": { \"title\": \"\", \"description\": \"\" },\n  \"seo\": { \"title\": \"\", \"meta_description\": \"\" }\n}\n`.trim();\n};\n\n// ── Fireplace ─────────────────────────────────────────────────\nconst buildFireplacePrompt = ({ keyword, material, finish, dimensions }) => {\n  const dim = [];\n  if (dimensions.length)    dim.push(`Length: ${dimensions.length}`);\n  if (dimensions.width)     dim.push(`Width: ${dimensions.width}`);\n  if (dimensions.height)    dim.push(`Height: ${dimensions.height}`);\n  if (dimensions.depth)     dim.push(`Depth: ${dimensions.depth}`);\n  if (dimensions.thickness) dim.push(`Thickness: ${dimensions.thickness}`);\n  const dimBlock = dim.length ? dim.join('\\n') : 'Not provided';\n\n  return `\nAnalyze the fireplace image and generate product copy.\n\nROLE\n\nYou are a Shopify SEO copywriter specializing in natural stone fireplaces.\n\n================================================\nSTEP 1\n================================================\n\nIdentify the one or two most distinctive visible architectural features of the fireplace.\n\nExamples:\n- Fluted pilasters\n- Arched opening\n- Straight legs\n- Curved legs\n- Scroll carving\n- Floral carving\n- Relief carving\n- Plain frieze\n- Stepped surround\n- Beveled edges\n- Column supports\n- Minimalist design\n- Geometric lines\n- Curved mantel shelf\n- Rectangular opening\n- Layered molding\n\nRules:\n- Use ONLY features clearly visible in the image.\n- Prefer describing visible architectural features over naming a design style.\n- If several features are visible, select the one or two most distinctive.\n\n================================================\nTASK 1\n================================================\n\nGenerate:\n\nVersion 1 — Title + Description\nVersion 2 — Title + Description\n\n================================================\nTITLE RULES\n================================================\n\nFormat:\nVersion 1: Keyword + Material + Primary Feature\nVersion 2: Keyword + Material + Primary Feature + Secondary Feature\n\nRules:\n- The Keyword MUST appear exactly as provided.\n- The Keyword MUST be the first words of the title.\n- Use only visible features.\n- Use the provided Material.\n- Do not invent information.\n- Do not use promotional adjectives or marketing words.\n- Keep titles concise and natural.\n\nForbidden words:\nLuxury, Elegant, Beautiful, Premium, Exquisite, Timeless, Sophisticated,\nStunning, Unique, Handcrafted, Designer, High-end, Magnificent\n\n================================================\nDESCRIPTION RULES\n================================================\n\n- 80–120 words.\n- The generated title MUST appear exactly once as the first sentence.\n- Describe only what is visible.\n- Mention the material naturally.\n- Mention the identified architectural feature(s).\n- Mention the surface finish if it can be inferred visually.\n- Mention dimensions only if provided.\n- Do not repeat the title.\n- Do not invent information.\n- Do not describe emotions or lifestyle.\n- Do not use promotional adjectives or marketing language.\n\n================================================\nPRODUCT INFO\n================================================\n\nKeyword: ${keyword}\nMaterial: ${material}\nFinish: ${finish || 'infer visually'}\n\n================================================\nDIMENSIONS\n================================================\n\n${dimBlock}\n\nRules:\n- Use only available values.\n- Never assume missing dimensions.\n\n================================================\nTASK 2 (SHOPIFY SEO)\n================================================\n\nGenerate:\n- SEO title (50-60 characters, must start with keyword)\n- Meta description (140-160 characters, factual ecommerce tone, no promotional adjectives)\n\n================================================\nSTRICT RULES\n================================================\n\n- No markdown, no explanations, no reasoning, no extra text, no code fences\n- Output ONLY valid JSON\n\n================================================\nFINAL OUTPUT FORMAT (STRICT JSON ONLY)\n================================================\n\n{\n  \"version1\": { \"title\": \"\", \"description\": \"\" },\n  \"version2\": { \"title\": \"\", \"description\": \"\" },\n  \"seo\": { \"title\": \"\", \"meta_description\": \"\" }\n}\n`.trim();\n};\n\n// ── Mosaic Tile ───────────────────────────────────────────────\nconst buildMosaicTilePrompt = ({ keyword }) => {\n  const kw = keyword ? '\\nKeyword: ' + keyword : '';\n\n  return (`\nAnalyze the uploaded mosaic tile image and generate one precise product title and one professional product description.\n\nROLE\n\nYou are an architectural surface designer and Shopify SEO copywriter specializing in natural stone mosaic tiles, including marble, limestone, travertine, granite, onyx, and other natural stone mosaics.\n\nYour objective is to identify the mosaic accurately from the image using professional architectural and tile-design terminology. Never use vague descriptions when a recognized industry term exists.\n\nSTEP 1 — IDENTIFY THE MATERIAL\n\nIdentify the most likely visible material.\n\nPossible materials include:\n- Marble Mosaic Tile\n- Travertine Mosaic Tile\n- Limestone Mosaic Tile\n- Granite Mosaic Tile\n- Onyx Mosaic Tile\n- Natural Stone Mosaic Tile\n\nOnly identify a specific stone variety (Carrara, Calacatta, Thassos, Crema Marfil, etc.) when it can be reasonably determined from the image.\nNever invent a stone name simply because of the color.\n\nSTEP 2 — IDENTIFY THE MOSAIC SHAPE OR PATTERN\n\nFirst compare the image with these recognized architectural and tile-design patterns.\n\n- Herringbone\n- Chevron\n- Basketweave\n- Hexagon\n- Penny Round\n- Subway\n- Brick\n- Running Bond\n- Versailles Pattern\n- Fan\n- Arabesque\n- Fish Scale\n- Scallop\n- Diamond\n- Rhombus\n- Windmill\n- Pinwheel\n- Octagon and Dot\n- Square\n- Rectangle\n- Linear\n- Random Strip\n- Stacked\n- Grid\n- Interlocking\n- Geometric\n- Floral\n- Medallion\n\nImportant distinctions:\n- Herringbone uses rectangular pieces arranged in an offset zigzag.\n- Chevron uses angled pieces meeting in continuous V-shapes.\n- Running Bond uses staggered rectangular pieces.\n- Basketweave resembles woven strips, often with small square inserts.\n- Penny Round consists of small circular pieces.\n- Fish Scale and Scallop use overlapping curved forms.\n- Subway generally refers to elongated rectangular pieces.\n\nIf the mosaic does not match anything above, identify it using the most accurate professional architectural or interior-design terminology.\nNever invent decorative marketing names.\n\nSTEP 3 — IDENTIFY THE COLOR\n\nIdentify the dominant visible color.\n\nPossible colors include:\n- White\n- Warm White\n- Ivory\n- Cream\n- Beige\n- Light Beige\n- Gray\n- Light Gray\n- Dark Gray\n- Black\n- Brown\n- Taupe\n- Green\n- Blue\n- Pink\n- Red\n- Gold\n- Multicolor\n\nIf appropriate, also describe visible veining or tonal variation.\nDo not describe heavily veined stone as pure white.\n\nSTEP 4 — IDENTIFY THE SURFACE FINISH\n\nPossible finishes:\n- Polished\n- Honed\n- Tumbled\n- Brushed\n- Antiqued\n- Natural\n- Split-Face\n- Textured\n- Matte\n- Mixed Finish\n\nIf the finish cannot be confidently determined, use: Natural Stone Finish\n\nOUTPUT 1 — PRODUCT TITLE\n\nTitle structure: Keyword + Color + Material + Shape or Pattern – Surface Finish\n\nExamples:\n- Marble Mosaic White Marble Herringbone – Honed\n- Stone Mosaic White Marble Penny Round – Polished\n- Stone Mosaic Tile Beige Travertine Versailles – Tumbled\n- Green Marble Hexagon Mosaic Tile – Honed\n- Gray Limestone Linear Mosaic Tile – Natural Stone Finish\n\nTitle requirements:\n- Use Keyword first (REQUIRED)\n- Include material, color, exact pattern or shape, surface finish\n- Keep the title factual and commercially useful\n- Do not include promotional words or unsupported claims\n- Do not mention dimensions unless provided\n` + kw + `\n\nOUTPUT 2 — PRODUCT DESCRIPTION\n\nWrite one professional paragraph of approximately 90–140 words.\nThe description must remain completely consistent with the title.\nNever introduce a different material, color, pattern, or finish from the title.\n\nDESCRIPTION STRUCTURE:\n\nSentence 1: Expand the complete product title naturally. Explain: material, color, pattern, surface finish.\n\nSentences 2–3: Explain where the mosaic is most suitable.\n\nWall Applications: Kitchen backsplash, Bathroom wall, Shower wall, Shower niche,\nVanity backsplash, Powder room wall, Feature wall, Fireplace surround, Bar backsplash,\nLaundry room backsplash, Entryway wall, Decorative wall panel, Hotel feature wall,\nCommercial reception wall.\n\nFloor Applications: Bathroom floor, Shower floor, Powder room floor, Entryway floor,\nKitchen floor, Hallway floor, Decorative floor inset, Border accent, Interior floor.\n\nMention only the applications appropriate for the visible mosaic size and finish.\nAt least half of the description should discuss where the product can be used.\nDo not simply list locations — explain naturally why the mosaic works in those spaces.\n\nSentence 4: Explain how shape, color, and finish affect the space.\n\nSentence 5: Briefly mention one to three compatible interior styles.\n\nAPPLICATION RULES:\n- Recommend wall applications whenever appropriate.\n- Recommend floor applications only when the mosaic format and finish appear suitable.\n- Be cautious when recommending polished mosaics for wet floors.\n- Never recommend Split-Face mosaics for walking surfaces.\n- Never claim: Slip resistant, Waterproof, Frost resistant, Heat resistant, Stain resistant,\n  Outdoor suitable, Pool suitable, Steam room suitable — unless provided separately.\n\nWRITING STYLE:\n- Expand the title naturally into a product description.\n- Use professional architectural and interior-design language.\n- Avoid storytelling, repeating the title verbatim, unsupported assumptions.\n- Avoid exaggerated marketing language: stunning, gorgeous, luxurious, exquisite, breathtaking.\n- Use natural SEO phrases: marble mosaic tile, natural stone mosaic, mosaic backsplash,\n  bathroom mosaic tile, shower wall mosaic, mosaic floor tile, decorative wall tile.\n\nSTRICT RULES:\n- No markdown, no explanations, no reasoning, no code fences\n- Output ONLY valid JSON\n\nFINAL OUTPUT FORMAT (STRICT JSON ONLY)\n\n{\n  \"version1\": { \"title\": \"\", \"description\": \"\" },\n  \"version2\": { \"title\": \"\", \"description\": \"\" },\n  \"seo\": { \"title\": \"\", \"meta_description\": \"\" }\n}\n\nversion1: Primary product title + description following all rules above.\nversion2: A slight variation suitable for Etsy — professional tone, no promotional language.\nseo.title: 50-60 character SEO title starting with keyword.\nseo.meta_description: 140-160 character meta description in factual ecommerce tone.\n`).trim();\n};\n\n// ── Marble Range Hood ─────────────────────────────────────────\nconst buildMarbleRangeHoodPrompt = ({ keyword, material, finish }) => {\n  const matLower = material.toLowerCase().split(' ')[0];\n  const matInKw  = matLower && keyword.toLowerCase().includes(matLower);\n\n  return `\nAnalyze the image and identify the product as a marble range hood.\n\nROLE\nYou are a Shopify SEO copywriter specializing in luxury natural stone range hoods for high-end kitchens.\n\n================================================\nSTEP 1 — IDENTIFY THE SHAPE\n================================================\n\nIdentify the primary shape of the range hood from the image.\n\nPossible shapes:\nPyramid\nArch / Arched Top\nFlat Top / Box / Chimney\nBell / Curved\nDome\nSloped / Angled\nFarmhouse / Corbel Style\nMantle Style\nCustom / Sculptural\n\n================================================\nSTEP 2 — IDENTIFY THE MATERIAL\n================================================\n\nIdentify the stone variety if visible:\nCalacatta, Carrara, Statuario, Travertine, Nero Marquina, Onyx, Emperador, Crema Marfil, or other.\nIf a specific variety cannot be determined, describe by color and veining only.\nNever invent a stone name solely based on color.\n\n================================================\nSTEP 3 — IDENTIFY THE SURFACE FINISH\n================================================\n\nPossible finishes:\nPolished, Honed, Leathered, Brushed, Tumbled, Natural.\n\nIf finish cannot be confidently determined, use: Natural Stone Finish.\n\n================================================\nSTEP 4 — IDENTIFY THE STYLE\n================================================\n\nIdentify the dominant design style:\nModern, Contemporary, Traditional, Classic, French Country, Mediterranean, Transitional, Farmhouse, Rustic, Luxury.\n\n================================================\nTASK 1 — PRODUCT TITLES & DESCRIPTIONS\n================================================\n\nTITLE RULES:\n- Structure: Keyword + Material (only if not already in keyword) + Shape + Style (optional)\n- Keyword MUST be the first word(s) of every title\n- Do not repeat material if it is already included in the keyword\n- Keep the title precise, natural, and concise\n- Do not include promotional words\n\nTitle examples:\n- Marble Range Hood Pyramid – Honed Calacatta\n- Kitchen Hood White Marble Arch Style\n- Marble Kitchen Hood Calacatta French Country\n- Range Hood Travertine Flat Top Modern\n\nDESCRIPTION RULES:\n- 80–120 words\n- Begin by repeating the full product title naturally as the opening sentence — do not start with \"This\"\n- Describe the shape and visible design details (corbels, molding, legs, proportions)\n- Describe the material: color, veining, surface finish\n- Name the kitchen styles it suits (modern, traditional, French country, Mediterranean, transitional, luxury)\n- Describe ideal installation context (statement piece, kitchen focal point, island hood, etc.)\n- Do not hallucinate features not visible in the image\n- Do not use exaggerated language: stunning, gorgeous, luxurious, breathtaking\n\nWRITING STYLE:\n- Professional Shopify/Etsy SEO tone, product-focused, not storytelling\n- Natural keyword integration\n- Avoid repeating the title verbatim\n\n================================================\nTASK 2 — SEO FIELDS\n================================================\n\nSEO TITLE: 50–60 characters, keyword first, include material and shape where possible.\nSEO META DESCRIPTION: 140–160 characters, luxury ecommerce tone, keyword included naturally.\n\n================================================\nPRODUCT INFO\n================================================\n\nKeyword: ${keyword}\n${matInKw ? '' : `Material: ${material || 'infer from image'}`}\nFinish: ${finish || 'infer visually'}\nProduct Type: marble range hood\n\n================================================\nSTRICT RULES\n================================================\n\n- No markdown, no explanations, no reasoning, no code fences\n- Output ONLY valid JSON\n\n================================================\nFINAL OUTPUT FORMAT (STRICT JSON ONLY)\n================================================\n\n{\n  \"version1\": { \"title\": \"\", \"description\": \"\" },\n  \"version2\": { \"title\": \"\", \"description\": \"\" },\n  \"seo\": { \"title\": \"\", \"meta_description\": \"\" }\n}\n`.trim();\n};\n\n// ── Generic (fallback for any unregistered sheet) ─────────────\nconst buildGenericPrompt = ({ sheetName, keyword, material, finish, dimensions, promptRules }) => {\n  const PRODUCT_META = {\n    Statue:    { type: 'marble statue',           environment: 'garden or interior space' },\n    Animal:    { type: 'animal sculpture',         environment: 'decorative space' },\n    Bench:     { type: 'bench',                    environment: 'garden or outdoor luxury space' },\n    Planter:   { type: 'planter',                  environment: 'terrace or garden space' },\n    Fountain:  { type: 'fountain',                 environment: 'luxury garden' },\n    Lamppost:  { type: 'lamppost',                 environment: 'garden pathway' },\n    Bathtub:   { type: 'bathtub',                  environment: 'luxury bathroom' },\n    Sink:      { type: 'sink',                     environment: 'bathroom vanity area' },\n    Vanity:    { type: 'vanity',                   environment: 'luxury bathroom interior' },\n    Fireplace: { type: 'fireplace',                environment: 'luxury interior living room',\n                 introOverride: 'Identify fireplace style first (French, Modern, Classic, English).' },\n    Table:     { type: 'table',                    environment: 'dining interior space',\n                 introOverride: 'Identify table type and seating capacity (4, 6, 8).' },\n  };\n\n  const { type, environment, introOverride } = PRODUCT_META[sheetName] ?? { type: 'product', environment: 'luxury space' };\n  const intro = introOverride ?? `Analyze the image and identify the product as a ${type}.`;\n\n  let prompt = `\n${intro}\n\nROLE:\nYou are a Shopify SEO copywriter for luxury marble products.\n\n================================================\nTASK 1\n================================================\n\nGenerate:\n- Version1 title + description\n- Version2 title + description\n\nRULES:\n- Descriptions around 80-120 words\n- Luxury tone only\n- Accurate visual description only\n- Do not hallucinate features\n- Keyword MUST be the first word(s) of each title and appear exactly once\n- Keyword must appear exactly once per description\n- Mention material naturally\n- Mention dimensions only if available\n\n================================================\nTASK 2 (SHOPIFY SEO)\n================================================\n\nGenerate:\n- SEO title\n- Meta description\n\nSEO TITLE RULES:\n- 50-60 characters ideal\n- Front-load important keywords\n- Use ONLY one best template internally\n\nSEO TITLE TEMPLATES:\nT1: [Style] Marble ${type} | [Feature] | [Material]\nT2: [Keyword] | [Feature] | [Material]\nT3: [Keyword] | [Material] | MarbleBee\n\nMETA DESCRIPTION RULES:\n- 140-160 characters ideal\n- Luxury ecommerce tone\n- Use ONLY one best template internally\n\nMETA DESCRIPTION TEMPLATES:\nT1: Shop [Keyword] handcrafted from marble with premium [Finish].\nT2: Discover [Keyword] made from natural marble for luxury interiors.\nT3: Bring elegance with [Keyword] crafted for luxury spaces.\nT4: Premium [Keyword] with [Finish] finish for interiors.\nT5: Explore [Keyword] for luxury homes and hotels.\n\n================================================\nDIMENSIONS\n================================================\n\nLength: ${dimensions.length}\nWidth: ${dimensions.width}\nHeight: ${dimensions.height}\nDepth: ${dimensions.depth}\nThickness: ${dimensions.thickness}\n\nRULES:\n- Use only available values\n- Never assume missing dimensions\n\n================================================\nPRODUCT INFO\n================================================\n\nKeyword: ${keyword}\nMaterial: ${material}\nFinish: ${finish || 'infer visually'}\nEnvironment: ${environment}\nProduct Type: ${type}\n\n================================================\nSTRICT RULES\n================================================\n\n- No markdown, no explanations, no reasoning, no template evaluation output, no extra text, no code fences\n- Output ONLY valid JSON\n\n================================================\nFINAL OUTPUT FORMAT (STRICT JSON ONLY)\n================================================\n\n{\n  \"version1\": { \"title\": \"\", \"description\": \"\" },\n  \"version2\": { \"title\": \"\", \"description\": \"\" },\n  \"seo\": { \"title\": \"\", \"meta_description\": \"\" }\n}\n`;\n\n  if (promptRules && String(promptRules).trim()) {\n    prompt += `\\n================================================\\nEXTRA RULES\\n================================================\\n\\n${promptRules}\\n`;\n  }\n\n  return prompt.trim();\n};\n\n// ============================================================\n// PROMPT REGISTRY — add new categories here, nothing else changes\n// ============================================================\nconst PROMPT_REGISTRY = {\n  'Wall-Coverings':  (args) => buildWallCoveringPrompt(args),\n  'Fireplace':       (args) => buildFireplacePrompt(args),\n  'StoneMosaicTile': (args) => buildMosaicTilePrompt(args),\n  'MarbleRangeHood': (args) => buildMarbleRangeHoodPrompt(args),\n};\n\n// ── Dispatch ──────────────────────────────────────────────────\nreturn items.flatMap(({ json }) => {\n  if (!(json.Image_Url ?? '').toString().trim().startsWith('http')) return [];\n\n  const args = {\n    sheetName:   json.sheet_name  ?? '',\n    keyword:     json.keyword     ?? '',\n    material:    json.material    ?? '',\n    finish:      json.finish      ?? '',\n    dimensions:  json.dimensions  ?? EMPTY_DIM,\n    promptRules: json.promptRules ?? '',\n  };\n\n  const builder = PROMPT_REGISTRY[args.sheetName] ?? buildGenericPrompt;\n\n  return [{ json: { ...json, prompt: builder(args) } }];\n});"
      },
      "id": "39a7733b-3e64-4dd7-9e7e-8e0f5f1ca27f",
      "name": "📝 Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2368,
        3152
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {
    "⏰ Daily Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-26T05:19:08.443-05:00",
          "Readable date": "February 26th 2026, 5:19:08 am",
          "Readable time": "5:19:08 am",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "26",
          "Hour": "05",
          "Minute": "19",
          "Second": "08",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "⏰ Daily Schedule Trigger": {
      "main": [
        [
          {
            "node": "📋 Load Target Sheet Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Load Target Sheet Names": {
      "main": [
        [
          {
            "node": "🔁 Iterate Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Iterate Sheets": {
      "main": [
        [
          {
            "node": "🧹 Filter Rows for Image AI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📖 Read Product Rows from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Filter Rows for Image AI": {
      "main": [
        [
          {
            "node": "🔁 Iterate Products for AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Iterate Products for AI Analysis": {
      "main": [
        [],
        [
          {
            "node": "🖼️ Analyze Product Image with AI (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏸️ Throttle Sheet Processing (200ms)": {
      "main": [
        [
          {
            "node": "🔁 Iterate Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🖼️ Analyze Product Image with AI (Gemini)": {
      "main": [
        [
          {
            "node": "🧾 Parse AI Titles & Descriptions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧾 Parse AI Titles & Descriptions": {
      "main": [
        [
          {
            "node": "💾 Write AI Content Back to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Write AI Content Back to Sheet": {
      "main": [
        [
          {
            "node": "⏸️ Throttle Sheet Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏸️ Throttle Sheet Updates": {
      "main": [
        [
          {
            "node": "🔁 Iterate Products for AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Read Product Rows from Sheet": {
      "main": [
        [
          {
            "node": "🧹 Prepare & Filter Product Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧹 Prepare & Filter Product Data": {
      "main": [
        [
          {
            "node": "📝 Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Build Prompt": {
      "main": [
        [
          {
            "node": "⏸️ Throttle Sheet Processing (200ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "nETo8yQdCbRv52pK",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "aa3ed12a-45da-4e61-bb96-bf93ce9c0f86",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40fd0e0584e84b721baf5ba64df17877ecda841680e3a8ad833622b608040b14"
  },
  "nodeGroups": [],
  "id": "coj4dPPLyidti9hC4yyB-",
  "tags": []
}