workflows/product-management/Shopify Merge product sync Pipeline.json
{
  "name": "Shopify Merge product sync Pipeline",
  "nodes": [
    {
      "parameters": {
        "amount": 0.54
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2096,
        2928
      ],
      "id": "c78061cf-8250-41ac-bba4-7d870e0eeee6",
      "name": "Wait",
      "webhookId": "0379cbb1-959e-4dac-8288-de3b3fd763bc"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -5280,
        2496
      ],
      "id": "0e6f4765-be9f-43e4-a15c-f6b1df347552",
      "name": "⏰ Daily Trigger at 9 AM"
    },
    {
      "parameters": {
        "jsCode": "const GOOGLE_SHEETS = [\n'Animal', 'Bench', 'Planter', 'Fountain', 'Lamppost', 'Bathtub', 'Sink', 'Vanity', 'Fireplace', 'Table', 'Statue', 'MarbleSlab', '2026Instock', 'DoorSurround', 'Wall-Coverings', 'MarbleRangeHood', 'Moulding', 'StoneMosaicTile', 'MarbleMedallion', 'Exterior-Wall-Decoration'\n// 'Test data'  // Uncomment for testing\n];\n\nreturn GOOGLE_SHEETS\n  .filter(Boolean)  // Remove any empty/null values\n  .map(sheet_name => ({ json: { sheet_name } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5024,
        2496
      ],
      "id": "3810fef6-89f0-4ead-bcc9-f00ebb5258b0",
      "name": "📋 Get Sheet Names"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4784,
        2496
      ],
      "id": "424f85da-da1a-4c8b-a8b4-e5a10135e37e",
      "name": "🔄 Loop Through Sheets"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name }}",
          "mode": "name"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRange",
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4768,
        2768
      ],
      "id": "e72fe3b1-ec3a-414c-b5d9-f9a73c562c94",
      "name": "📖 Read Sheet Data",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rKfNzy77xzsMahH6",
          "name": "Template_control"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURATION\n// ============================================\nconst CONFIG = {\n  MAX_CREATE_ITEMS: 3,\n  VENDOR: 'Marblebee',\n  WEIGHT_UNIT: 'kg',\n  DECIMAL_PLACES: 2,\n\n  IMAGE_KEYS: [\n    'IMAGE URL1',\n    'IMAGE URL2',\n    'IMAGE URL3',\n    'IMAGE URL4',\n    'IMAGE URL5',\n    'IMAGE URL6',\n    'IMAGE URL7',\n    'IMAGE URL8',\n    'IMAGE URL9',\n    'IMAGE URL10'\n  ],\n\n  SHEET_NAME: $('🔄 Loop Through Sheets').item.json.sheet_name\n};\n\n// ============================================\n// UTILITIES\n// ============================================\n\nconst safeRound = (value, decimals = CONFIG.DECIMAL_PLACES) => {\n  const num = parseFloat(value);\n  return Number.isFinite(num)\n    ? Number(num.toFixed(decimals))\n    : '';\n};\n\nconst cleanWeight = (weightRaw) => {\n  const cleaned = String(weightRaw ?? '0').replace(/[^\\d.]/g, '');\n  return cleaned ? parseFloat(cleaned) : 0.0;\n};\n\nconst safeNumeric = (value, defaultValue = 0) => {\n  const num = parseFloat(value);\n  return Number.isFinite(num)\n    ? num\n    : defaultValue;\n};\n\nconst hasValue = (value) =>\n  value !== undefined &&\n  value !== null &&\n  String(value).trim() !== '';\n\n\n// ============================================\n// SEO HELPERS\n// ============================================\n\n// Shopify handle formatter\nconst slugify = (text = '') =>\n  String(text)\n    .toLowerCase()\n    .trim()\n    .replace(/&/g, 'and')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .replace(/-{2,}/g, '-');\n\n\n// URL HANDLE RULE:\n// \"{keyword}-{material}-{product-number}\"\nconst buildHandle = (data) => {\n  const keyword = data['Keywords (Luna)'] ?? '';\n  const material = data.Material ?? '';\n  const productNumber = data['Product No.'] ?? '';\n\n  return slugify(\n    `${keyword}-${material}-${productNumber}`\n  );\n};\n\n\n// IMAGE ALT RULE:\n// \"{keyword} in {material} - Image {index}\"\nconst buildAltText = (data, index) => {\n  const keyword = data['Keywords (Luna)'].trim() ?? 'Marble Product';\n  const material = data.Material.trim() ?? 'Natural Marble';\n\n  return `${keyword} in ${material} - Image ${index}`;\n};\n\n\n// Build Shopify images with alt text\nconst extractImages = (data, keys) =>\n  keys\n    .filter(key => hasValue(data[key]))\n    .map((key, index) => ({\n      src: data[key],\n      alt: buildAltText(data, index + 1)\n    }));\n\n\n// ============================================\n// VALIDATION & OPERATION TYPE\n// ============================================\n\nconst isReadyToPost = (data) => {\n  const value = String(data?.Ready_to_post ?? '')\n    .trim()\n    .toLowerCase();\n\n  return value === 'yes' || value === 'true';\n};\n\nconst hasTitle = (data) =>\n  hasValue(data?.Title_Shopify);\n\nconst getOperationType = (data) => {\n\n  if (!isReadyToPost(data) || !hasTitle(data)) {\n    return null;\n  }\n\n  const hasFieldsToUpdate = hasValue(data.Fields_to_update);\n  const hasPublicUrl = hasValue(data.Shopify_Product_URL);\n  const hasAdminUrl = hasValue(data.Shopify_Update_product_URL);\n\n  // UPDATE\n  if (\n    hasFieldsToUpdate &&\n    hasPublicUrl &&\n    hasAdminUrl\n  ) {\n    return 'update';\n  }\n\n  // CREATE\n  if (\n    !hasFieldsToUpdate &&\n    !hasPublicUrl &&\n    !hasAdminUrl\n  ) {\n    return 'create';\n  }\n\n  return 'mark false';\n};\n\n\n// ============================================\n// PRODUCT BUILDER\n// ============================================\n\nconst buildProduct = (data, operation) => {\n\n  const weight = safeRound(\n    cleanWeight(data['Weight KG'])\n  );\n\n  const price = safeNumeric(\n    data['Price IN USD $ (Jack)']\n  );\n\n  // ============================================\n  // DIMENSIONS\n  // ============================================\n\n  const isFireplace =\n    CONFIG.SHEET_NAME === 'Fireplace'  ||\n    CONFIG.SHEET_NAME === 'Test data';\n\n  const isWallCoverings =\n    CONFIG.SHEET_NAME === 'Wall-Coverings'\n\n  const isExteriorWallDecoration =\n    CONFIG.SHEET_NAME === 'Exterior-Wall-Decoration'\n  \n  const isMarbleSlab =\n    CONFIG.SHEET_NAME === 'MarbleSlab';\n\n  const isMarbleRangeHood =\n    CONFIG.SHEET_NAME === 'MarbleRangeHood';\n\n  const isMoulding =\n    CONFIG.SHEET_NAME === 'Moulding';\n\n  const isStoneMosaicTile =\n    CONFIG.SHEET_NAME === 'StoneMosaicTile';\n\n  const isMarbleMedallion =\n    CONFIG.SHEET_NAME === 'MarbleMedallion';\n\n  const dimensions = isMarbleSlab || isWallCoverings || isStoneMosaicTile || isMarbleMedallion || isExteriorWallDecoration\n    ? {\n        l_cm: data['Length CM'] ?? '',\n        w_cm: data['Width CM'] ?? '',\n        t_cm: data['Thickness CM'] ?? '',\n\n        l_in: safeRound(data['Length Inch']) ?? '',\n        w_in: safeRound(data['Width Inch']),\n        t_in: safeRound(data['Thickness Inch'])\n      }\n    : isFireplace || isMarbleRangeHood\n    ? {\n        d_cm: data['Depth CM'] ?? '',\n        w_cm: data['Width CM'] ?? '',\n        h_cm: data['Height CM'] ?? '',\n\n        d_in: safeRound(data['Depth Inch']) ?? '',\n        w_in: safeRound(data['Width Inch']),\n        h_in: safeRound(data['Height Inch'])\n      }\n    : isMoulding\n    ? {\n        l_cm: data['Length CM'] ?? '',\n        h_cm: data['Height CM'] ?? '',\n        t_cm: data['Thickness CM'] ?? '',\n\n        l_in: safeRound(data['Length Inch']) ?? '',\n        h_in: safeRound(data['Height Inch']),\n        t_in: safeRound(data['Thickness Inch'])\n      }\n    : {\n        l_cm: data['Length CM'] ?? '',\n        w_cm: data['Width CM'] ?? '',\n        h_cm: data['Height CM'] ?? '',\n\n        l_in: safeRound(data['Length Inch']) ?? '',\n        w_in: safeRound(data['Width Inch']),\n        h_in: safeRound(data['Height Inch'])\n      };\n\n  // ============================================\n  // Opening Size For Fireplace\n  // ============================================\n\n  const opening_size = isFireplace\n    ? {\n        opening_w_cm: data['Width_CM'] ?? '',\n        opening_h_cm: data['Height_CM'] ?? '',\n\n        opening_w_in: safeRound(data['Width_Inch']),\n        opening_h_in: safeRound(data['Height_Inch'])\n      }\n    : {}\n\n  // ============================================\n  // SEO\n  // ============================================\n\n  const seoTitle =\n    data.Shopify_SEO_Title.trim() ??\n    data.Title_Shopify.trim() ??\n    '';\n\n  const seoDescription =\n    data.Shopify_SEO_Description.trim() ??\n    '';\n\n  const handle = buildHandle(data);\n\n  // ============================================\n  // RETURN PRODUCT\n  // ============================================\n\n  return {\n\n    // Metadata\n    row_number: data.row_number ?? 0,\n    sheet_name: CONFIG.SHEET_NAME ?? '',\n    updating_fields: data.Fields_to_update ?? '',\n    operation,\n\n    // URLs\n    public_shopify_url:\n      data.Shopify_Product_URL ?? '',\n\n    admin_shopify_url:\n      data.Shopify_Update_product_URL ?? '',\n\n    // Dimensions\n    ...dimensions,\n    ...opening_size,\n\n    // Shopify Product\n    title: data.Title_Shopify.trim() ?? '',\n    description: data.Description_Shopify.trim() ?? '',\n\n    material: data.Material.trim() ?? '',\n    product_number: data['Product No.'].trim() ?? '',\n\n    weight,\n\n    drain_diameter:\n      data.Drain_Diameter ?? '',\n\n    radius: data.Radius ?? '',\n    surface: data.Surface ?? '',\n\n    signature:\n      data.Signature ?? '',\n\n    // SEO\n\n    seo_title: seoTitle,\n    seo_description: seoDescription,\n    handle,\n\n    // Custom buttons\n    material_catalog_url:\n      data['Material Catalog URL'].trim() ?? '',\n\n    care_guide_url:\n      data['Care Guide URL'].trim() ?? '',\n\n    cad_drawing_url:\n      data['CAD Drawing URL'].trim() ?? '',\n\n    // Etsy\n    title_Etsy:\n      data.Title_Etsy ?? '',\n\n    description_Etsy:\n      data.Description_Etsy ?? '',\n\n    tags_Etsy:\n      data.Tags_Etsy ?? '',\n\n    who_made:\n      data.who_made ?? '',\n\n    when_made:\n      data.when_made ?? '',\n\n    product_type_Etsy:\n      data.Etsy_type ?? '',\n\n    quantity_Etsy:\n      data.Etsy_quantity ?? 0,\n\n    // Shopify\n    vendor: CONFIG.VENDOR,\n\n    product_type:\n      data.Product_Type.trim() ?? 'Default',\n\n    tags:\n      data.Tags_Shopify.trim() ?? '',\n\n    // Variants\n    variants: [\n      {\n        requires_shipping: false,\n        price,\n        weight,\n        weight_unit: CONFIG.WEIGHT_UNIT\n      }\n    ],\n\n    // Images + ALT TEXT\n    images: extractImages(\n      data,\n      CONFIG.IMAGE_KEYS\n    )\n  };\n};\n\n\n// ============================================\n// MAIN PROCESSING\n// ============================================\n\n// Step 1\nconst categorized = items\n  .map(item => {\n\n    const data = item.json ?? {};\n    const operation = getOperationType(data);\n\n    return { data, operation };\n\n  })\n  .filter(({ operation }) => operation !== null);\n\n\n// Step 2\nconst createItems =\n  categorized.filter(\n    ({ operation }) => operation === 'create'\n  );\n\nconst updateItems =\n  categorized.filter(\n    ({ operation }) => operation === 'update'\n  );\n\nconst mark_false =\n  categorized.filter(\n    ({ operation }) => operation === 'mark false'\n  );\n\n\n// Step 3\nconst limitedCreateItems =\n  createItems.slice(0, CONFIG.MAX_CREATE_ITEMS);\n\n\n// Step 4\nconst selectedItems = [\n  ...limitedCreateItems,\n  ...updateItems,\n  ...mark_false\n];\n\n\n// Step 5\nconst outputItems = selectedItems.map(\n  ({ data, operation }) => ({\n\n    json: {\n\n      collection_id1: String(\n        data.Collection_ID1.trim() ?? ''\n      ),\n\n      collection_id2: String(\n        data.Collection_ID2.trim() ?? ''\n      ),\n\n      collection_id3: String(\n        data.Collection_ID3.trim() ?? ''\n      ),\n\n      operation,\n\n      product: buildProduct(\n        data,\n        operation\n      )\n    }\n  })\n);\n\n\nreturn outputItems.length > 0\n  ? outputItems\n  : [\n      {\n        json: {\n          sheet_name: CONFIG.SHEET_NAME,\n          operation: 'None'\n        }\n      }\n    ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4544,
        2768
      ],
      "id": "622b6222-f8ee-49f2-86af-85b741b56380",
      "name": "✅ Filter Unacknowledged & Ready to Post"
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4352,
        2768
      ],
      "id": "83773dc4-daab-4a14-81d8-4c826ffd2072",
      "name": "⏸️ Rate Limit (200ms)",
      "webhookId": "fd9ab9a4-171f-443a-b98e-b0f99561bfb7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4112,
        2480
      ],
      "id": "54fac287-e14b-415b-9d9a-1d703c115f71",
      "name": "🔁 Process Each Product"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "eb34e899-1fe6-4384-9881-5464653be69c",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3664,
        2496
      ],
      "id": "71440822-f491-403b-9695-0085575f172e",
      "name": "🔀 Route: Create or Update"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURATION\n// ============================================\nconst CONFIG = {\n  DIMENSION_FIELDS: new Set([\n    'Lenght CM','Width CM','Height CM','Depth CM', 'Thickness CM',\n    'Length Inch','Width Inch','Height Inch','Depth Inch', 'Thickness Inch'\n  ]),\n  OPENING_SIZE_FIELDS: new Set([\n    'Width_CM', 'Height_CM', 'Width_Inch', 'Height_Inch',\n  ]),\n  CONTENT_FIELDS: new Set([\n    'Material','Description_Shopify','Weight KG','Product No.',\n    'Surface','Drain_Diameter','Radius','Signature'\n  ]),\n  TITLE_FIELD: 'Title_Shopify',\n  TAGS_SHOPIFY: 'Tags_Shopify',\n  COLLECTION_ID1: 'Collection_ID1',\n  COLLECTION_ID2: 'Collection_ID2',\n  COLLECTION_ID3: 'Collection_ID3',\n  PRICE_FIELD: 'Price IN USD $ (Jack)',\n  WEIGHT_FIELD: 'Weight KG',\n\n  // SEO Fields\n  SEO_TITLE_FIELD: 'Shopify_SEO_Title',\n  SEO_DESC_FIELD: 'Shopify_SEO_Description',\n\n  // ✅ NEW (metafield trigger fields)\n  META_URL_FIELDS: new Set([\n    'Material Catalog URL',\n    'Care Guide URL',\n    'CAD Drawing URL'\n  ]),\n\n  PATTERNS: {\n    PRODUCT_ID: /\\/products\\/(\\d+)/,\n    VARIANT_ID: /[?&]variant=(\\d+)/\n  }\n};\n\nconst ALL_BODY_FIELDS = new Set([...CONFIG.DIMENSION_FIELDS,...CONFIG.OPENING_SIZE_FIELDS, ...CONFIG.CONTENT_FIELDS]);\n\n// ============================================\n// UTILITIES\n// ============================================\n\nconst normalizeUrl = (url) => {\n  if (!url) return '';\n  return String(url).trim().replace(/\\\\+$/, '');\n};\n\nconst extractId = (url, pattern) => url?.match(pattern)?.[1] ?? '';\nconst getVariantId = (url) => extractId(url, CONFIG.PATTERNS.VARIANT_ID);\nconst extractProductId = (url) => extractId(url, CONFIG.PATTERNS.PRODUCT_ID);\n\nconst parseUpdateFields = (fieldsStr) => \n  fieldsStr?.split(',').map(f => f.trim()).filter(Boolean) ?? [];\n\nconst shouldUpdateBody = (updateList) => \n  updateList.some(field => ALL_BODY_FIELDS.has(field));\n\nconst hasValue = (v) => {\n  if (Array.isArray(v)) return v.length > 0;\n  if (typeof v === 'object' && v !== null) return Object.keys(v).length > 0;\n  return v !== undefined && v !== null && v !== '';\n};\n\nconst field = (label, value, suffix = '') => \n  hasValue(value) ? `<p><strong>${label}:</strong> ${value}${suffix}</p>` : '';\n\n// ============================================\n// HTML BUILDER\n// ============================================\n\nconst buildDimensionLine = (dims) => \n  dims.filter(([, v]) => hasValue(v))\n      .map(([label, v, unit]) => `<strong>${label}:</strong> ${v} ${unit}`)\n      .join(' &nbsp; ');\n\nconst buildBodyHtml = (p) => {\n  const isFireplace = p.sheet_name === 'Fireplace' || p.sheet_name === 'Test data';\n  const isWallCoverings = p.sheet_name === 'Wall-Coverings';\n    const isExteriorWallDecoration = p.sheet_name === 'Exterior-Wall-Decoration';\n  const isMarbleSlab = p.sheet_name === 'MarbleSlab';\n  const isMarbleRangeHood = p.sheet_name === 'MarbleRangeHood';\n  const isMoulding = p.sheet_name === 'Moulding';\n  const isStoneMosaicTile = p.sheet_name === 'StoneMosaicTile';\n  const isMarbleMedallion = p.sheet_name === 'MarbleMedallion';\n\n  // =========================\n  // SINGLE SOURCE DIM CONFIG\n  // =========================\n  const dimensionConfig = isMarbleSlab || isWallCoverings || isStoneMosaicTile || isMarbleMedallion || isExteriorWallDecoration\n    ? [\n        { label: 'Length', cm: p.l_cm, inch: p.l_in },\n        { label: 'Width', cm: p.w_cm, inch: p.w_in },\n        { label: 'Thickness', cm: p.t_cm, inch: p.t_in }\n      ]\n    : isFireplace || isMarbleRangeHood\n    ? [\n        { label: 'Width', cm: p.w_cm, inch: p.w_in },\n        { label: 'Height', cm: p.h_cm, inch: p.h_in },\n        { label: 'Depth', cm: p.d_cm, inch: p.d_in },\n      ]\n    : isMoulding\n    ? [\n        { label: 'Length', cm: p.l_cm, inch: p.l_in },\n        { label: 'Height', cm: p.h_cm, inch: p.h_in },\n        { label: 'Thickness', cm: p.t_cm, inch: p.t_in }\n      ]\n    : [\n        { label: 'Length', cm: p.l_cm, inch: p.l_in },\n        { label: 'Width', cm: p.w_cm, inch: p.w_in },\n        { label: 'Height', cm: p.h_cm, inch: p.h_in }\n      ];\n\n  // =========================\n  // BUILD LINES\n  // =========================\n  const cmLine = buildDimensionLine(\n    dimensionConfig.map(d => [d.label, d.cm, 'cm'])\n  );\n\n  const inLine = buildDimensionLine(\n    dimensionConfig.map(d => [d.label, d.inch, 'In'])\n  );\n\n  // =========================\n  // SINGLE SOURCE Openiing Size CONFIG\n  // =========================\n  const openingSizeConfig = isFireplace\n    ? [\n        { label: 'Width', cm: p.opening_w_cm, inch: p.opening_w_in },\n        { label: 'Height', cm: p.opening_h_cm, inch: p.opening_h_in },\n      ]\n    : [];\n\n  // =========================\n  // BUILD LINES\n  // =========================\n  const cmOpeningLine = buildDimensionLine(\n    openingSizeConfig.map(o => [o.label, o.cm, 'cm'])\n  );\n\n  const inOpeningLine = buildDimensionLine(\n    openingSizeConfig.map(o => [o.label, o.inch, 'In'])\n  );\n\n  return [\n    (cmLine || inLine) && '<p><strong>Dimensions</strong></p>',\n    cmLine && `<p>${cmLine}</p>`,\n    inLine && `<p>${inLine}</p>`,\n    (cmOpeningLine || inOpeningLine) && '<p><strong>Opening Size</strong></p>',\n    cmOpeningLine && `<p>${cmOpeningLine}</p>`,\n    inOpeningLine && `<p>${inOpeningLine}</p>`,\n    field('Material', p.material),\n    field('Weight', p.weight, ' kg'),\n    hasValue(p.description) && `<p>${p.description}</p>`,\n    field('Drain Diameter', p.drain_diameter),\n    field('Radius', p.radius),\n    field('Surface', p.surface),\n    p.signature,\n    field('Product Number', p.product_number)\n  ].filter(Boolean).join('');\n};\n\n// ============================================\n// BUILDERS\n// ============================================\n\nconst buildVariants = (product, updateList) => {\n  const variant = {};\n  \n  const variantId = getVariantId(product.public_shopify_url);\n  if (variantId) variant.id = variantId;\n  \n  if (updateList.includes(CONFIG.PRICE_FIELD)) {\n    variant.price = product.variants?.[0]?.price;\n  }\n  \n  if (updateList.includes(CONFIG.WEIGHT_FIELD)) {\n    variant.weight = product.weight;\n  }\n  \n  return Object.keys(variant).length > 0 ? [variant] : [];\n};\n\nconst hasAnyImageUpdate = (updateList) =>\n  updateList.some(f => /^IMAGE URL\\d+$/.test(f));\n\nconst buildImages = (product, updateList) => {\n  if (!hasAnyImageUpdate(updateList)) return [];\n  if (!Array.isArray(product.images) || product.images.length === 0) return [];\n\n  return product.images\n    .filter(img => img?.src)\n    .map(img => ({ src: img.src, alt: img.alt }));\n};\n\n// ============================================\n// CORE UPDATE PAYLOAD\n// ============================================\n\nconst buildUpdatePayload = (product, updateList) => {\n  const input = $input.first().json;\n\n  const payload = {\n    id: extractProductId(product.admin_shopify_url),\n  };\n\n  // ======================\n  // BODY HTML\n  // ======================\n  if (shouldUpdateBody(updateList)) {\n    const bodyHtml = buildBodyHtml(product);\n    if (bodyHtml) payload.body_html = bodyHtml;\n  }\n\n  // ======================\n  // VARIANTS\n  // ======================\n  const variants = buildVariants(product, updateList);\n  if (variants.length > 0) payload.variants = variants;\n\n  // ======================\n  // TITLE\n  // ======================\n  if (updateList.includes(CONFIG.TITLE_FIELD) && product.title) {\n    payload.title = product.title;\n  }\n\n  // ======================\n  // TAGS\n  // ======================\n  if (updateList.includes(CONFIG.TAGS_SHOPIFY) && input.product?.tags) {\n    payload.tags = input.product.tags;\n  }\n\n  // ======================\n  // IMAGES\n  // ======================\n  const images = buildImages(product, updateList);\n  if (images.length > 0) payload.images = images;\n\n  // ======================\n  // COLLECTIONS\n  // ======================\n  if (\n    updateList.includes(CONFIG.COLLECTION_ID1) ||\n    updateList.includes(CONFIG.COLLECTION_ID2) ||\n    updateList.includes(CONFIG.COLLECTION_ID3)\n  ) {\n    payload.collection_id1 = input.collection_id1 ?? '';\n    payload.collection_id2 = input.collection_id2 ?? '';\n    payload.collection_id3 = input.collection_id3 ?? '';\n  }\n\n  // ======================\n  // ✅ METAFIELD DATA (CRITICAL)\n  // ======================\n  if (updateList.includes('Material Catalog URL')) {\n    payload.material_catalog_url =    normalizeUrl(product.material_catalog_url) ?? '';\n   }\n\n  if (updateList.includes('Care Guide URL')) {\n     payload.care_guide_url = normalizeUrl(product.care_guide_url)      ?? '';\n  }\n\n  if (updateList.includes('CAD Drawing URL')) {\n    payload.cad_drawing_url = normalizeUrl(product.cad_drawing_url) ?? '';\n  }\n\n  // ======================\n  // ✅ SEO FIELDS \n  // ======================\n  const metafields = [];\n\n  if (updateList.includes(CONFIG.SEO_TITLE_FIELD) && hasValue(product.seo_title)) {\n    metafields.push({\n      namespace: \"global\",\n      key: \"title_tag\",\n      type: \"single_line_text_field\",\n      value: product.seo_title\n    });\n  }\n\n  if (updateList.includes(CONFIG.SEO_DESC_FIELD) && hasValue(product.seo_description)) {\n    metafields.push({\n      namespace: \"global\",\n      key: \"description_tag\",\n      type: \"multi_line_text_field\",\n      value: product.seo_description\n    });\n  }\n\n  if (metafields.length > 0) {\n    payload.metafields = metafields;\n  }\n\n  return payload;\n};\n\n// ============================================\n// MAIN\n// ============================================\n\nconst product = items?.[0]?.json?.product;\nif (!product) return [];\n\nconst updateFields = parseUpdateFields(product.updating_fields);\nconst updatePayload = buildUpdatePayload(product, updateFields);\n\nreturn [{ json: { product: updatePayload } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3392,
        2480
      ],
      "id": "1cb77e81-5b02-4e8f-a9f7-e877c6082011",
      "name": "📝 Format Update Request"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://marblebee.myshopify.com/admin/api/2024-01/products/{{ $json.product.id }}.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1744,
        2464
      ],
      "id": "b180f685-f0a5-4fde-820c-19e098c4c81f",
      "name": "🔄 Shopify: Update Product",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const sheet = $('🔀 Route: Create or Update').item.json.product.sheet_name;\nconst row_number = $('🔀 Route: Create or Update').item.json.product.row_number;\n\nreturn [\n  {\n    json: {\n      \"sheet_name\":sheet,\n      \"row_number\":row_number,\n      \"Ready_to_post\": \"no\",\n      \"Fields_to_update\": \"\",\n      \"last_update_time\": $now\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2720,
        2800
      ],
      "id": "fc84063b-f8af-4ca2-a974-0eaef53a76ba",
      "name": "📦 Parse Update Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://marblebee.myshopify.com/admin/api/2024-04/products.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3568,
        2928
      ],
      "id": "a2abf82d-1761-4ed6-8328-df7bdf7cbe94",
      "name": "➕ Shopify: Create Product",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURATION\n// ============================================\nconst CONFIG = {\n  ADMIN_BASE_URL: 'https://admin.shopify.com/store/marblebee/products/',\n  PRODUCT_BASE_URL: 'https://marblebee.myshopify.com/products/'\n};\n\n// ============================================\n// EXTRACT DATA\n// ============================================\nconst routeData = $('🔀 Route: Create or Update').first()?.json?.product ?? {};\nconst product = items[0]?.json?.product ?? {};\nconst variant = product.variants?.[0] ?? {};\n\n// ============================================\n// BUILD URLS\n// ============================================\nconst shopifyProductUrl = product.public_shopify_url || \n  `${CONFIG.PRODUCT_BASE_URL}${product.handle ?? ''}?variant=${variant.id ?? ''}`;\n\nconst shopifyUpdateUrl = product.admin_shopify_url || \n  `${CONFIG.ADMIN_BASE_URL}${product.id ?? ''}`;\n\n// ============================================\n// BUILD OUTPUT\n// ============================================\nreturn [{\n  json: {\n    sheet_name: routeData.sheet_name ?? '',\n    row_number: routeData.row_number ?? '',\n    'Title_Shopify': (product.title ?? '').trim(),\n    'Shopify_Product_URL': shopifyProductUrl,\n    'Shopify_Update_product_URL': shopifyUpdateUrl,\n    'Ready_to_post': 'no',\n    'Fields_to_update': '',\n    'create_time': $now\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3008,
        2928
      ],
      "id": "db753597-186c-42e9-b3cf-294fe5ffbb16",
      "name": "📦 Parse Create Response"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Product No.",
              "displayName": "Product No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Raw-Location",
              "displayName": "Raw-Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Picture",
              "displayName": "Picture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL1",
              "displayName": "IMAGE URL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL2",
              "displayName": "IMAGE URL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL3",
              "displayName": "IMAGE URL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL4",
              "displayName": "IMAGE URL4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL5",
              "displayName": "IMAGE URL5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL6",
              "displayName": "IMAGE URL6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL7",
              "displayName": "IMAGE URL7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL8",
              "displayName": "IMAGE URL8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL9",
              "displayName": "IMAGE URL9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IMAGE URL10",
              "displayName": "IMAGE URL10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Material",
              "displayName": "Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Width CM",
              "displayName": "Width CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Height CM",
              "displayName": "Height CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Depth CM",
              "displayName": "Depth CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Width Inch",
              "displayName": "Width Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Height Inch",
              "displayName": "Height Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Depth Inch",
              "displayName": "Depth Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Weight KG",
              "displayName": "Weight KG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price IN USD $ (Jack)",
              "displayName": "Price IN USD $ (Jack)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Price In CAD",
              "displayName": "Price In CAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords (Luna)",
              "displayName": "Keywords (Luna)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generate_Title_Description",
              "displayName": "Generate_Title_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prompt_Rules",
              "displayName": "Prompt_Rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title_Shopify",
              "displayName": "Title_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description_Shopify",
              "displayName": "Description_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags_Shopify",
              "displayName": "Tags_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product_Type",
              "displayName": "Product_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Jack QC",
              "displayName": "Jack QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Luna QC",
              "displayName": "Luna QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website QC()",
              "displayName": "Website QC()",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Collection_ID1",
              "displayName": "Collection_ID1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Collection_ID2",
              "displayName": "Collection_ID2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Collection_ID3",
              "displayName": "Collection_ID3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Drain_Diameter",
              "displayName": "Drain_Diameter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Signature",
              "displayName": "Signature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title_Etsy",
              "displayName": "Title_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Description_Etsy",
              "displayName": "Description_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Etsy",
              "displayName": "Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tags_Etsy",
              "displayName": "Tags_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ready_to_post",
              "displayName": "Ready_to_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fields_to_update",
              "displayName": "Fields_to_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shopify_Product_URL",
              "displayName": "Shopify_Product_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Shopify_Update_product_URL",
              "displayName": "Shopify_Update_product_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "create_time",
              "displayName": "create_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_update_time",
              "displayName": "last_update_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          },
          "handlingExtraData": "ignoreIt"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -2480,
        2928
      ],
      "id": "5484ee2e-a8d0-4800-abd9-4a5031572b6a",
      "name": "💾 Update Google Sheet",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rKfNzy77xzsMahH6",
          "name": "Template_control"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get collection IDs from the Route node\nconst collectionIds = [\n  $('🔀 Route: Create or Update').item?.json?.collection_id1,\n  $('🔀 Route: Create or Update').item?.json?.collection_id2,\n  $('🔀 Route: Create or Update').item?.json?.collection_id3,\n].filter(id => id !== null && id !== undefined && id !== '');\n\n// Get product ID from current input\nconst productId = $input.first().json.product.id;\n\n// If no valid collections → do nothing\nif (collectionIds.length === 0) {\n  return [];\n}\n\n// Create one item per valid collection\nreturn collectionIds.map(collection_id => ({\n  collect: {\n    product_id: productId,\n    collection_id: String(collection_id),\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        2688
      ],
      "id": "8043cd93-ce21-4fde-b036-342ad8b96451",
      "name": "🔗 Build Collection Mappings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://marblebee.myshopify.com/admin/api/2024-01/collects.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1968,
        2688
      ],
      "id": "367e314a-a083-4a0b-b2ee-1387c5618ed9",
      "name": "➕ Shopify: Add to Collection",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "=https://marblebee.myshopify.com/admin/api/2024-01/collects.json?product_id={{ $json.product.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3440,
        2240
      ],
      "id": "78387725-c131-4dbc-9fa0-9991b61bcca6",
      "name": "📥 Get Product Collections",
      "notesInFlow": false,
      "retryOnFail": false,
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://marblebee.myshopify.com/admin/api/2024-01/collects/{{ $json.collect_id }}.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1968,
        2032
      ],
      "id": "a9644005-2a55-4928-a116-b64d4e55e6e6",
      "name": "🗑️ Remove from Collections",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $('📝 Format Update Request').item"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1968,
        2256
      ],
      "id": "9fccea10-e0dd-4fa7-b7ac-ac0e9765f1bd",
      "name": "🔗 Pass Update Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0dd062cb-76c3-458e-8655-676f5d87b01a",
              "leftValue": "={{ $json.collects }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2960,
        2240
      ],
      "id": "9cf55bdd-2307-4987-9542-a41d07fa7e5a",
      "name": "❓ Has Existing Collections?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cea16e41-25a0-4e14-a356-751e641b0c3a",
              "leftValue": "={{ $json.product.body_html }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e5891cb4-6db3-4be3-b234-72b4bc33e011",
              "leftValue": "={{ $json.product.variants[0].price }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "95c4dac6-d9a1-4be2-bcff-cf236cb636cc",
              "leftValue": "={{ $json.product.variants[0].weight }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "ab670103-94d4-475a-b795-c97bee7d02d2",
              "leftValue": "={{ $json.product.title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "764f9bd6-912b-4cce-99cb-ead05a314fdd",
              "leftValue": "={{ $json.product.tags }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "7708d5be-736f-42d8-ac7c-8aa3de25b944",
              "leftValue": "={{ $json.product.images[0].src }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "33cf974c-64a8-4910-9b31-0f544ba24f70",
              "leftValue": "={{ $json.product.metafields }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2576,
        2336
      ],
      "id": "9c469afa-f5b9-4cb5-abed-e7204863f4ad",
      "name": "❓Check if update request needed",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd39e1d9-a0b9-49e8-b2a3-a667c66f41d8",
              "leftValue": "={{ $json.collect_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2304,
        2048
      ],
      "id": "4ab8f6ad-cd64-498e-814a-119639b5e11b",
      "name": "❓Check for update or delete"
    },
    {
      "parameters": {
        "jsCode": "// ===== Get previous node data =====\nconst nodeData = $('📝 Format Update Request').item?.json || {};\n\n// ===== Get product_id safely =====\nconst product_id = $input.first()?.json?.collects?.[0]?.product_id ?? null;\n\n// ===== Source collection IDs (1,2,3) =====\nconst sourceCollectionIds = [\n  nodeData?.product?.collection_id1,\n  nodeData?.product?.collection_id2,\n  nodeData?.product?.collection_id3,\n]\n  .filter(v => v !== undefined && v !== null && String(v).trim() !== '')\n  .map(String);\n\n// ===== Input collects =====\nconst collects = $input.first()?.json?.collects || [];\nconst collectCollectionIds = collects\n  .map(c => c?.collection_id)\n  .filter(v => v !== undefined && v !== null)\n  .map(String);\n\n// ===== 1️⃣ DELETE =====\n// Exists in collects but NOT in sourceCollectionIds\nconst collection_id_for_delete = collects\n  .filter(c => c && !sourceCollectionIds.includes(String(c.collection_id)))\n  .map(c => ({\n    collect_id: String(c.id),\n    product_id: product_id\n  }));\n\n// ===== 2️⃣ UPDATE =====\n// Exists in sourceCollectionIds but NOT in collects\nconst collection_id_to_update = sourceCollectionIds\n  .filter(id => !collectCollectionIds.includes(id))\n  .map(id => ({\n    collect_id: id,\n    product_id: product_id\n  }));\n\n// ===== Build FINAL OUTPUT =====\nconst output = [];\n\n// ---- DELETE FORMAT ----\nif (collection_id_for_delete.length > 0) {\n  for (const c of collection_id_for_delete) {\n    output.push({\n      json: {\n        collect_id: c.collect_id\n      }\n    });\n  }\n}\n\n// ---- UPDATE FORMAT ----\nif (collection_id_to_update.length > 0) {\n  for (const c of collection_id_to_update) {\n    output.push({\n      json: {\n        collect: {\n          product_id: c.product_id,\n          collection_id: c.collect_id\n        }\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2608,
        2048
      ],
      "id": "96e0bd7d-79b2-438b-bbe9-f750e7d63fb5",
      "name": "🔧 Extract Collects to update or delete",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cea16e41-25a0-4e14-a356-751e641b0c3a",
              "leftValue": "={{ $json.product.collection_id1 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "e5891cb4-6db3-4be3-b234-72b4bc33e011",
              "leftValue": "={{ $json.product.collection_id2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "cbabdf71-25d8-49aa-89e0-61f7c7b6578f",
              "leftValue": "={{ $json.product.collection_id3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3792,
        2256
      ],
      "id": "24b536eb-20de-436e-8287-2270b3d9f781",
      "name": "❓Check if update request needed1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "mark false",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2a57fd1f-4ef0-44fe-aa1f-e1b15164e9c8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mark No"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f4c25f0f-717c-4585-a1a8-4bbc23e86255",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "=^(create|update)$",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create&update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7597f48e-abfd-41e5-b996-8d2ddd12c6ad",
                    "leftValue": "={{ $json.operation }}",
                    "rightValue": "None",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "None"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4464,
        2464
      ],
      "id": "9f1591d7-e178-4f43-a580-263478d73398",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ITSJNL7iql08AklUOLI1QSpOO0HlYEb8Dui0eNBXSeI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.product.sheet_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json.product.row_number }}",
            "Ready_to_post": "no"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Product No.",
              "displayName": "Product No.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Raw-Location",
              "displayName": "Raw-Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Picture",
              "displayName": "Picture",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL1",
              "displayName": "IMAGE URL1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL2",
              "displayName": "IMAGE URL2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL3",
              "displayName": "IMAGE URL3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL4",
              "displayName": "IMAGE URL4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL5",
              "displayName": "IMAGE URL5",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL6",
              "displayName": "IMAGE URL6",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL7",
              "displayName": "IMAGE URL7",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL8",
              "displayName": "IMAGE URL8",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL9",
              "displayName": "IMAGE URL9",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "IMAGE URL10",
              "displayName": "IMAGE URL10",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Material",
              "displayName": "Material",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Width CM",
              "displayName": "Width CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Height CM",
              "displayName": "Height CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Depth CM",
              "displayName": "Depth CM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Width Inch",
              "displayName": "Width Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Height Inch",
              "displayName": "Height Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Depth Inch",
              "displayName": "Depth Inch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Weight KG",
              "displayName": "Weight KG",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Price IN USD $ (Jack)",
              "displayName": "Price IN USD $ (Jack)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Price In CAD",
              "displayName": "Price In CAD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Keywords (Luna)",
              "displayName": "Keywords (Luna)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Generate_Title_Description",
              "displayName": "Generate_Title_Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Prompt_Rules",
              "displayName": "Prompt_Rules",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title_Shopify",
              "displayName": "Title_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description_Shopify",
              "displayName": "Description_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tags_Shopify",
              "displayName": "Tags_Shopify",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product_Type",
              "displayName": "Product_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Jack QC",
              "displayName": "Jack QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Luna QC",
              "displayName": "Luna QC",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website QC()",
              "displayName": "Website QC()",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Collection_ID1",
              "displayName": "Collection_ID1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Collection_ID2",
              "displayName": "Collection_ID2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Collection_ID3",
              "displayName": "Collection_ID3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Radius",
              "displayName": "Radius",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Signature",
              "displayName": "Signature",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Title_Etsy",
              "displayName": "Title_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Description_Etsy",
              "displayName": "Description_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Etsy",
              "displayName": "Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tags_Etsy",
              "displayName": "Tags_Etsy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ready_to_post",
              "displayName": "Ready_to_post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fields_to_update",
              "displayName": "Fields_to_update",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Shopify_Product_URL",
              "displayName": "Shopify_Product_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Shopify_Update_product_URL",
              "displayName": "Shopify_Update_product_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "locationDefine": {
            "values": {
              "headerRow": 2,
              "firstDataRow": 3
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -4112,
        2256
      ],
      "id": "9c1c7b06-70e5-4ebc-9c10-56b7d0fb8d57",
      "name": "💾 Update Google Sheet1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rKfNzy77xzsMahH6",
          "name": "Template_control"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://marblebee.myshopify.com/admin/api/2024-01/products/{{ $('Check Metafields Update').last().json.product.id }}/metafields.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3104,
        1840
      ],
      "id": "1ac1e93f-f44e-4cfe-a9bb-b7dc4b7c0ca8",
      "name": "📥 Get Existing Metafields",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Always safe unwrap (n8n sometimes wraps arrays)\nconst metafields = input.metafields || [];\n\n// IMPORTANT: only take fields that actually exist in update node\nconst productWrapper = $('📝 Format Update Request').item.json;\nconst product = productWrapper.product || {};\n\n// Only include fields that are actually present (not undefined)\nconst sheetData = {};\n\nif (product.hasOwnProperty('material_catalog_url')) {\n  sheetData.material_catalog_url = product.material_catalog_url;\n}\n\nif (product.hasOwnProperty('care_guide_url')) {\n  sheetData.care_guide_url = product.care_guide_url;\n}\n\nif (product.hasOwnProperty('cad_drawing_url')) {\n  sheetData.cad_drawing_url = product.cad_drawing_url;\n}\n\nconst operations = [];\n\n// Only iterate actual incoming fields\nfor (const [key, newValueRaw] of Object.entries(sheetData)) {\n\n  const newValue = (newValueRaw || '').toString().trim();\n\n  const existingField = metafields.find(\n    m => m.namespace === \"custom\" && m.key === key\n  );\n\n  // =========================\n  // DELETE (ONLY if explicitly empty string)\n  // =========================\n  if (newValue === '' && existingField) {\n    operations.push({\n      type: \"delete\",\n      id: existingField.id\n    });\n    continue;\n  }\n\n  // =========================\n  // CREATE\n  // =========================\n  if (newValue !== '' && !existingField) {\n    operations.push({\n      type: \"create\",\n      payload: {\n        metafield: {\n          namespace: \"custom\",\n          key,\n          type: \"url\",\n          value: newValue,\n          owner_id: product.id,\n          owner_resource: \"product\"\n        }\n      }\n    });\n    continue;\n  }\n\n  // =========================\n  // UPDATE\n  // =========================\n  if (\n    newValue !== '' &&\n    existingField &&\n    existingField.value !== newValue\n  ) {\n    operations.push({\n      type: \"update\",\n      id: existingField.id,\n      payload: {\n        metafield: {\n          id: existingField.id,\n          value: newValue,\n          type: \"url\"\n        }\n      }\n    });\n  }\n}\n\n// =========================\n// SAFE OUTPUT\n// =========================\nif (operations.length === 0) {\n  return [{ json: { message: \"No metafield changes detected\" } }];\n}\n\nreturn operations.map(op => ({ json: op }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2832,
        1840
      ],
      "id": "de52e987-2568-4e79-8c89-034fa0444e29",
      "name": "🧠 Sync Metafields (CREATE / UPDATE / DELETE)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "461a5a08-bb98-478e-9c00-dbd2148a8430"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d1357664-21df-4871-916a-244eae1eeba4",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "701501be-59c4-43f2-bfd4-4aee34e3652e",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2560,
        1824
      ],
      "id": "188c309b-643d-49a3-953c-dafc6c8cbcb2",
      "name": "Switch1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://marblebee.myshopify.com/admin/api/2024-01/metafields.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2240,
        1552
      ],
      "id": "f1a28848-ba16-4fd9-90fb-2a329bf58bb8",
      "name": "➕ Shopify: Create Metafields",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://marblebee.myshopify.com/admin/api/2024-01/metafields/{{ $json.id }}.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1936,
        1680
      ],
      "id": "615f3ec7-155d-4ee6-b5ca-8324917d5660",
      "name": "🔄 Shopify: Update Metafields",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://marblebee.myshopify.com/admin/api/2024-01/metafields/{{ $json.id }}.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2144,
        1872
      ],
      "id": "6184a5bc-2bca-47e9-a76a-bd1ea6cdf831",
      "name": "🗑️ Remove Metafields",
      "notesInFlow": false,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JXLdswTZdWLXs3XX",
          "name": "Shopify Credentials"
        },
        "shopifyOAuth2Api": {
          "id": "x329GQy4zF2R3arS",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9ce9511b-c844-4a11-923a-e418ace80c55",
              "leftValue": "={{ $json.product.material_catalog_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "32734f6a-13b7-45a7-bc0c-66926b910c7e",
              "leftValue": "={{ $json.product.cad_drawing_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "97ee78e2-447c-4fc6-9300-cf4ec954e27f",
              "leftValue": "={{ $json.product.care_guide_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2752,
        2512
      ],
      "id": "150e9a92-eced-48d0-a49b-3bcc0da1ad76",
      "name": "Check Metafields Update",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2256,
        2528
      ],
      "id": "0ecbe95d-00f8-4be2-8fff-ce1c1b1eb038",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// CONFIGURATION\n// ============================================\nconst CONFIG = {\n  METADATA_FIELDS: new Set([\n    'l_cm','w_cm','h_cm','d_cm','t_cm',\n    'l_in','w_in','h_in','d_in','t_in',\n    'opening_w_cm', 'opening_h_cm', 'opening_w_in', 'opening_h_in',\n    'material','description',\n    'weight','product_number',\n    'sheet_name','row_number',\n    'drain_diameter','radius',\n    'surface','signature',\n    'material_catalog_url',\n    'care_guide_url',\n    'cad_drawing_url',\n    'seo_title',\n    'seo_description'\n  ])\n};\n\n// ============================================\n// HELPERS\n// ============================================\nconst hasValue = (v) =>\n  v !== null &&\n  v !== undefined &&\n  v !== '' &&\n  v !== 0 &&\n  v !== '0';\n\n// ============================================\n// SEO NORMALIZER (IMPORTANT FIX)\n// ============================================\nconst getSeoTitle = (p) => {\n  return (\n    p?.seo_title ||\n    ''\n  );\n};\n\nconst getSeoDescription = (p) => {\n  return (\n    p?.seo_description ||\n    p?.description ||\n    ''\n  );\n};\n\n// ============================================\n// BUILD METAFIELDS\n// ============================================\nconst buildMetafields = (p) => {\n  const metafields = [];\n\n  // -------------------------\n  // Custom URLs\n  // -------------------------\n  if (hasValue(p.material_catalog_url)) {\n    metafields.push({\n      namespace: \"custom\",\n      key: \"material_catalog_url\",\n      type: \"url\",\n      value: p.material_catalog_url\n    });\n  }\n\n  if (hasValue(p.care_guide_url)) {\n    metafields.push({\n      namespace: \"custom\",\n      key: \"care_guide_url\",\n      type: \"url\",\n      value: p.care_guide_url\n    });\n  }\n\n  if (hasValue(p.cad_drawing_url)) {\n    metafields.push({\n      namespace: \"custom\",\n      key: \"cad_drawing_url\",\n      type: \"url\",\n      value: p.cad_drawing_url\n    });\n  }\n\n  // -------------------------\n  // SEO FIELDS (ROBUST FIX)\n  // -------------------------\n  const seoTitle = getSeoTitle(p);\n  const seoDescription = getSeoDescription(p);\n\n  if (hasValue(seoTitle)) {\n    metafields.push({\n      namespace: \"global\",\n      key: \"title_tag\",\n      type: \"single_line_text_field\",\n      value: String(seoTitle).slice(0, 70)\n    });\n  }\n\n  if (hasValue(seoDescription)) {\n    metafields.push({\n      namespace: \"global\",\n      key: \"description_tag\",\n      type: \"multi_line_text_field\",\n      value: String(seoDescription).slice(0, 320)\n    });\n  }\n\n  return metafields;\n};\n\n// ============================================\n// BODY HTML BUILDER\n// ============================================\nconst field = (label, value, suffix = '') =>\n  hasValue(value)\n    ? `<p><strong>${label}:</strong> ${value}${suffix}</p>`\n    : '';\n\nconst buildDimLine = (items, unit) => {\n  const line = items\n    .filter(([, v]) => hasValue(v))\n    .map(([label, v]) => `<strong>${label}:</strong> ${v} ${unit}`)\n    .join('&nbsp;&nbsp;');\n\n  return hasValue(line) ? `<p>${line}</p>` : '';\n};\n\nconst buildBodyHtml = (p) => {\n  const sections = [];\n\n  const isFireplace = p.sheet_name === 'Fireplace'  || p.sheet_name === 'Test data';\n  const isWallCoverings = p.sheet_name === 'Wall-Coverings';\n  const isExteriorWallDecoration = p.sheet_name === 'Exterior-Wall-Decoration';\n  const isMarbleSlab = p.sheet_name === 'MarbleSlab';\n  const isMarbleRangeHood =\n    p.sheet_name === 'MarbleRangeHood';\n  const isMoulding =\n    p.sheet_name === 'Moulding';\n  const isStoneMosaicTile =\n    p.sheet_name === 'StoneMosaicTile';\n  const isMarbleMedallion =\n    p.sheet_name === 'MarbleMedallion';\n\n  const dimensionConfig = isMarbleSlab || isWallCoverings || isStoneMosaicTile || isMarbleMedallion || isExteriorWallDecoration\n    ? [\n        { label: 'Length', cm: p.l_cm, inch: p.l_in },\n        { label: 'Width', cm: p.w_cm, inch: p.w_in },\n        { label: 'Thickness', cm: p.t_cm, inch: p.t_in }\n      ]\n    : isFireplace || isMarbleRangeHood\n    ? [\n        { label: 'Width', cm: p.w_cm, inch: p.w_in },\n        { label: 'Height', cm: p.h_cm, inch: p.h_in },\n        { label: 'Depth', cm: p.d_cm, inch: p.d_in },\n      ]\n    : isMoulding\n    ? [\n        { label: 'Length', cm: p.l_cm, inch: p.l_in },\n        { label: 'Height', cm: p.h_cm, inch: p.h_in },\n        { label: 'Thickness', cm: p.t_cm, inch: p.t_in }\n      ]\n    : [\n        { label: 'Length', cm: p.l_cm, inch: p.l_in },\n        { label: 'Width', cm: p.w_cm, inch: p.w_in },\n        { label: 'Height', cm: p.h_cm, inch: p.h_in }\n      ];\n\n  const cmDims = buildDimLine(\n    dimensionConfig.map(d => [d.label, d.cm]),\n    'cm'\n  );\n\n  const inDims = buildDimLine(\n    dimensionConfig.map(d => [d.label, d.inch]),\n    'In'\n  );\n\n  if (cmDims || inDims) {\n    sections.push('<p><strong>Dimensions</strong></p>');\n    if (cmDims) sections.push(cmDims);\n    if (inDims) sections.push(inDims);\n  }\n\n  const openingSizeConfig = isFireplace\n    ? [\n        { label: 'Width', cm: p.opening_w_cm, inch: p.opening_w_in },\n        { label: 'Height', cm: p.opening_h_cm, inch: p.opening_h_in },\n      ]\n    : [];\n\n  const cmOpeningSize = buildDimLine(\n    openingSizeConfig.map(o => [o.label, o.cm]),\n    'cm'\n  );\n\n  const inOpeningSize = buildDimLine(\n    openingSizeConfig.map(o => [o.label, o.inch]),\n    'In'\n  );\n\n  if (cmOpeningSize || inOpeningSize) {\n    sections.push('<p><strong>Opening Size</strong></p>');\n    if (cmOpeningSize) sections.push(cmOpeningSize);\n    if (inOpeningSize) sections.push(inOpeningSize);\n  }\n\n  if (hasValue(p.material)) sections.push(field('Material', p.material));\n  if (hasValue(p.weight)) sections.push(field('Weight', p.weight, ' kg'));\n  if (hasValue(p.description)) sections.push(`<p>${p.description}</p>`);\n  if (hasValue(p.drain_diameter)) sections.push(field('Drain Diameter', p.drain_diameter));\n  if (hasValue(p.radius)) sections.push(field('Radius', p.radius));\n  if (hasValue(p.surface)) sections.push(field('Surface', p.surface));\n  if (hasValue(p.signature)) sections.push(p.signature);\n  if (hasValue(p.product_number)) sections.push(field('Product Number', p.product_number));\n\n  return sections.join('');\n};\n\n// ============================================\n// MAIN\n// ============================================\nconst product = items?.[0]?.json?.product;\nif (!product) return [];\n\nconst bodyHtml = buildBodyHtml(product);\nconst metafields = buildMetafields(product);\n\n// Safe handle fallback\nconst handleFallback =\n  product.handle ||\n  `${product.title || 'product'}-${product.material || ''}-${product.product_number || ''}`\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-|-$/g, '');\n\nconst cleanedProduct = Object.fromEntries(\n  Object.entries({\n    ...product,\n\n    handle: handleFallback,\n\n    ...(hasValue(bodyHtml) ? { body_html: bodyHtml } : {}),\n    ...(metafields.length > 0 ? { metafields } : {})\n  }).filter(([key]) => !CONFIG.METADATA_FIELDS.has(key))\n);\n\nreturn [\n  {\n    json: {\n      product: cleanedProduct\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3856,
        2928
      ],
      "id": "28ee8e9b-a8a8-4dad-8d4c-4d30b8a6a741",
      "name": "📝 Format Create Request"
    }
  ],
  "pinData": {
    "⏰ Daily Trigger at 9 AM": [
      {
        "json": {
          "timestamp": "2026-04-07T09:00:09.003-04:00",
          "Readable date": "April 7th 2026, 9:00:09 am",
          "Readable time": "9:00:09 am",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "April",
          "Day of month": "07",
          "Hour": "09",
          "Minute": "00",
          "Second": "09",
          "Timezone": "America/New_York (UTC-04:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "🔁 Process Each Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏰ Daily Trigger at 9 AM": {
      "main": [
        [
          {
            "node": "📋 Get Sheet Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Get Sheet Names": {
      "main": [
        [
          {
            "node": "🔄 Loop Through Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Loop Through Sheets": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📖 Read Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📖 Read Sheet Data": {
      "main": [
        [
          {
            "node": "✅ Filter Unacknowledged & Ready to Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Filter Unacknowledged & Ready to Post": {
      "main": [
        [
          {
            "node": "⏸️ Rate Limit (200ms)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⏸️ Rate Limit (200ms)": {
      "main": [
        [
          {
            "node": "🔄 Loop Through Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Process Each Product": {
      "main": [
        [],
        [
          {
            "node": "🔀 Route: Create or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 Route: Create or Update": {
      "main": [
        [
          {
            "node": "📝 Format Update Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "📝 Format Create Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Format Update Request": {
      "main": [
        [
          {
            "node": "❓Check if update request needed1",
            "type": "main",
            "index": 0
          },
          {
            "node": "❓Check if update request needed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Metafields Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Shopify: Update Product": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "📦 Parse Update Response": {
      "main": [
        [
          {
            "node": "💾 Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "➕ Shopify: Create Product": {
      "main": [
        [
          {
            "node": "🔗 Build Collection Mappings",
            "type": "main",
            "index": 0
          },
          {
            "node": "📦 Parse Create Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📦 Parse Create Response": {
      "main": [
        [
          {
            "node": "💾 Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Update Google Sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Build Collection Mappings": {
      "main": [
        [
          {
            "node": "➕ Shopify: Add to Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Get Product Collections": {
      "main": [
        [
          {
            "node": "❓ Has Existing Collections?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🗑️ Remove from Collections": {
      "main": [
        []
      ]
    },
    "🔗 Pass Update Request": {
      "main": [
        [
          {
            "node": "🔗 Build Collection Mappings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Has Existing Collections?": {
      "main": [
        [
          {
            "node": "🔧 Extract Collects to update or delete",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔗 Pass Update Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓Check if update request needed": {
      "main": [
        [
          {
            "node": "🔄 Shopify: Update Product",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓Check for update or delete": {
      "main": [
        [
          {
            "node": "🗑️ Remove from Collections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "➕ Shopify: Add to Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔧 Extract Collects to update or delete": {
      "main": [
        [
          {
            "node": "❓Check for update or delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓Check if update request needed1": {
      "main": [
        [
          {
            "node": "📥 Get Product Collections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "💾 Update Google Sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔁 Process Each Product",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "📥 Get Existing Metafields": {
      "main": [
        [
          {
            "node": "🧠 Sync Metafields (CREATE / UPDATE / DELETE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Sync Metafields (CREATE / UPDATE / DELETE)": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "➕ Shopify: Create Metafields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🔄 Shopify: Update Metafields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🗑️ Remove Metafields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Metafields Update": {
      "main": [
        [
          {
            "node": "📥 Get Existing Metafields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "📦 Parse Update Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Format Create Request": {
      "main": [
        [
          {
            "node": "➕ Shopify: Create Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "nETo8yQdCbRv52pK",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "05fc9cd6-810b-4444-b036-2cbab11f6091",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "40fd0e0584e84b721baf5ba64df17877ecda841680e3a8ad833622b608040b14"
  },
  "nodeGroups": [],
  "id": "YxDN8Cb8n6bdvIoA",
  "tags": []
}